{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% block content %}

      {% set flashes = {
          'error':   get_flashed_messages(category_filter=['form-error']),
          'warning': get_flashed_messages(category_filter=['form-check-email']),
          'info':    get_flashed_messages(category_filter=['form-info']),
          'success': get_flashed_messages(category_filter=['form-success'])
      } %}

  {% if user %}
    <p>You are {{ user.username }}</p>
  {% else %}
    <p>You are not authenticated</p>
  {% endif %}

  <p>Type any username:</p>
  {{ f.render_form(form) }}
  {% endblock %}
