{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div align="center">

      {% set flashes = {
          'error':   get_flashed_messages(category_filter=['form-error']),
          'warning': get_flashed_messages(category_filter=['form-check-email']),
          'info':    get_flashed_messages(category_filter=['form-info']),
          'success': get_flashed_messages(category_filter=['form-success'])
      } %}

      <section class="form-gradient"  style="margin-top: 3rem; margin-bottom: 1rem">

          <!--Form with header-->
          <div class="card" style="height: 86vh!important">

              <!--Header-->
              <div class="header pt-3 hanuman-gradient">

                  <div class="row d-flex justify-content-center">
                      <h3 class="white-text mb-3 pt-3 font-bold">Register an application</h3>
                  </div>

              </div>
              <!--Header-->

              <div class="card-body" style="margin-left: 1rem; margin-right: 0.5rem;">

                {{ f.begin_form(form, flashes) }}
                  <div class="md-form">
                      {{ f.render_form_field(form.application_name) }}

                      {{ f.render_form_field(form.application_description) }}

                      {{ f.render_form_field(form.application_website) }}

                      <input type="checkbox" id="developer_agreement" name="developer_agreement" required>
                      <p for="developer_agreement">Yes, I have read and agree to the <a href="/terms-of-service">Bhagavad Gita Terms Of Service</a>.</p>

                  </div>
                  <div align="center">
                    {{ f.form_message(flashes['error'], header='Something went wrong.', class='danger') }}
                    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                    {{ f.form_message(flashes['info'], header='Information', class='info') }}
                    {{ f.form_message(flashes['success'], header='Success!', class='success') }}
                    {{ f.render_form_field(form.submit) }}
                  </div>
                 {{ f.end_form(form) }}

              </div>

          </div>
          <!--/Form with header-->

      </section>
    </div>
    </div>
    </div>
    </div>
    <style>
      body {
        background: #EEEEEE;
      }
      a {
        color: #FFC107;
      }
      a:hover {
        color: #FF9800;
      }
      body > div.container > div > div > div > section {
         margin-top: 5rem!important;
     }
    </style>
{% endblock %}
