{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div align="center">

        {% set flashes = {
            'error':   get_flashed_messages(category_filter=['form-error']),
            'warning': get_flashed_messages(category_filter=['form-check-email']),
            'info':    get_flashed_messages(category_filter=['form-info']),
            'success': get_flashed_messages(category_filter=['form-success'])
        } %}

        <section class="form-gradient" style="margin-top: 3rem;">

            <!--Form with header-->
            <div class="card">

                <!--Header-->
                <div class="header pt-3 hanuman-gradient">

                    <div class="row d-flex justify-content-center">
                        <h3 class="white-text mb-3 pt-3 font-bold">Log in</h3>
                    </div>

                    <div class="row mt-2 mb-3 d-flex justify-content-center">
                        <!--Google -->
                        <a class="icons-sm g-ic" href="/account/google-login"><i class="fa fa-google white-text fa-lg"> </i></a>
                        <!--Facebook-->
                        <a class="icons-sm fb-ic" href="/account/facebook-login"><i class="fa fa-facebook white-text fa-lg"> </i></a>
                        <!--Twitter-->
                        <a class="icons-sm tw-ic" href="/account/github-login"><i class="fa fa-github white-text fa-lg"> </i></a>
                    </div>

                </div>
                <!--Header-->

                <div class="card-body mt-4" style="margin-left: 1rem; margin-right: 0.5rem;">
                {{ f.begin_form(form, flashes) }}
                    <!--Body-->
                    <div class="md-form">
                        {{ f.render_form_field(form.email) }}
                    </div>

                    <div class="md-form pb-1 pb-md-3">
                        {{ f.render_form_field(form.password) }}
                        <p class="font-small grey-text d-flex justify-content-end">Forgot <a href="{{ url_for('account.reset_password_request') }}" class="dark-grey-text ml-1 font-bold"> Password?</a></p>
                    </div>


                    <!--Grid row-->
                    <div align="center">

                      {{ f.form_message(flashes['error'], header='Something went wrong.', class='danger') }}
                      {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                      {{ f.form_message(flashes['info'], header='Information', class='info') }}
                      {{ f.form_message(flashes['success'], header='Success!', class='success') }}

                      <button type="submit" class="btn btn-grey btn-rounded z-depth-1a" value="Log in" style="border-radius: 10em;">Log in</button>
                      <p class="font-small grey-text mt-3">Don't have an account? <a href="/account/register" class="dark-grey-text ml-1 font-bold"> Sign up</a></p>

                    </div>
                    <!--Grid row-->
                   {{ f.end_form(form) }}
                </div>

            </div>
            <!--/Form with header-->

        </section>
      </div>
    </div>
  </div>
</div>

    <style>
      body {
        background: #EEEEEE;
      }
      .peach-gradient {
         background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262);
         background: linear-gradient(40deg,#ffd86f,#fc6262);
     }
     body > div.container > div > div > div > section {
         margin-top: 5rem!important;
     }
    </style>
{% endblock %}
