{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% if user.password_hash %}
  {% set endpoints = [
      ('account.manage', 'Account information'),
      ('account.change_email_request', 'Change email address'),
      ('account.change_password', 'Change password'),
      ('account.logout', 'Log out')
  ] %}
{% else %}
{% set endpoints = [
    ('account.manage', 'Account information'),
    ('account.logout', 'Log out')
] %}
{% endif %}

{% macro navigation(items) %}
    <nav class="nav nav-pills nav-justified">
        {% for route, name in items %}
            {% set href = url_for(route) %}
            <a class="nav-item nav-link {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </nav>
{% endmacro %}

{% macro user_info(user) %}
    <table class="table table-sm table-hover table-striped">
        {% if user.last_name %}
          <tr><td>Full name</td><td>{{ '%s %s' % (user.first_name, user.last_name) }}</td></tr>
        {% else %}
          <tr><td>Name</td><td>{{ '%s' % (user.first_name) }}</td></tr>
        {% endif %}
        <tr><td>Email address</td><td>{{ user.email }}</td></tr>
        <tr><td>Account type</td><td>{{ user.role.name }}</td></tr>
    </table>
{% endmacro %}

{% block content %}
  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card orange lighten-3 text-center z-depth-2 h-100">
          <div class="card-body">
              <h4 class="font-up font-bold mt-2 mb-3"><strong>Account Settings</strong></h4>
              <h5 class="card-title">Manage your account settings and change your login information.</h5>
              <hr>
              <br>
              {{ navigation(endpoints) }}

              <hr>

              {% if form %}
                  {{ f.render_form(form, extra_classes='fluid') }}
              {% else %}
                  {{ user_info(user) }}
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

    {{ check.password_check('new_password', 0) }}

<style>
a {
    color: #fafafa;
}
a:hover {
    color: #fff;
}
.table td, .table th {
    border-top: 1px solid #fafafa;
}
body > div.container > div {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #FD9F28;
}
nav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: none;
}
</style>
{% endblock %}
