{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div align="center">

      {% set flashes = {
          'error':   get_flashed_messages(category_filter=['form-error']),
          'warning': get_flashed_messages(category_filter=['form-check-email']),
          'info':    get_flashed_messages(category_filter=['form-info']),
          'success': get_flashed_messages(category_filter=['form-success'])
      } %}

      <section class="form-gradient" style="margin-top: 3rem;">

          <!--Form with header-->
          <div class="card" style="width: 23rem;">

              <!--Header-->
              <div class="header pt-3 hanuman-gradient">

                  <div class="row d-flex justify-content-center">
                      <h3 class="white-text mb-3 pt-3 font-bold">Reset your password</h3>
                  </div>

              </div>
              <!--Header-->

              <div class="card-body mt-4" style="margin-left: 1rem; margin-right: 0.5rem;">

                  {{ f.render_form(form) }}

              </div>

          </div>
          <!--/Form with header-->

      </section>

    <style>
      body {
        background: #EEEEEE;
      }
      .peach-gradient {
         background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262);
         background: linear-gradient(40deg,#ffd86f,#fc6262);
     }
    </style>
{% endblock %}
