{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
{% set flashes = {
    'error':   get_flashed_messages(category_filter=['form-error']),
    'warning': get_flashed_messages(category_filter=['form-check-email']),
    'info':    get_flashed_messages(category_filter=['form-info']),
    'success': get_flashed_messages(category_filter=['form-success'])
} %}

<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">Home</a>
  <a class="breadcrumb-item" href="/account/manage/apps">All Apps</a>
  <span class="breadcrumb-item active">{{app_name}}</span>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div align="center">
      <section class="form-gradient">
          <div class="card">
              <div class="header pt-3 hanuman-gradient">
                  <div class="row d-flex justify-content-center">
                      <h3 class="white-text mb-3 pt-3 font-bold">{{app_name}}</h3>
                  </div>
              </div>
              <div class="card-body mt-4" style="margin-left: 1rem; margin-right: 0.5rem;">

                <div class="row clearfix">
                  <div class="col-md-6">
                    <h3>Client Credentials</h3>
                    <hr>
                    <br>
                    <p align="center">Client ID</p>
                    <p align="center" style="font-size: 12px;">{{client_id}}</p>
                    <p align="center">Client Secret</p>
                    <p align="center" style="font-size: 12px;">{{client_secret}}</p>
                    <br>
                    <p>Please refer to the <a href="/api">API Page</a> to understand how to use these client credentials with the <b>Bhagavad Gita API</b>.</p>
                  </div>
                  <div class="col-md-6">
                    <h3>Update Application</h3>
                    <hr>
                    {{ f.begin_form(form, flashes) }}
                      <div class="md-form">
                          <p align="left" style="margin-bottom: -1rem;">{{form.application_name.label.text}}</p>
                          {{ f.render_form_field(form.application_name) }}

                          <p align="left" style="margin-bottom: -0.2rem;">{{form.application_description.label.text}}</p>
                          {{ f.render_form_field(form.application_description) }}

                          <p align="left" style="margin-bottom: -1rem;">{{form.application_website.label.text}}</p>
                          {{ f.render_form_field(form.application_website) }}

                      </div>
                      <div align="center">
                        {{ f.form_message(flashes['error'], header='Something went wrong.', class='danger') }}
                        {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                        {{ f.form_message(flashes['info'], header='Information', class='info') }}
                        {{ f.form_message(flashes['success'], header='Success!', class='success') }}
                        {{ f.render_form_field(form.submit) }}
                      </div>
                     {{ f.end_form(form) }}
                  </div>
                </div>
              </div>
          </div>

      </section>
    </div>
    </div>
    </div>
    </div>

    <style>
      body {
        background: #EEEEEE;
      }
      a {
        color: #FFC107;
      }
      a:hover {
        color: #FF9800;
      }
      .breadcrumb {
        display: none;
      }
      .container {
        margin-top: 4.5rem
      }
    </style>
{% endblock %}
