{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block title %}What is The Bhagavad Gita -  BhagavadGita.io{% endblock %}

{% block meta_tags %}
        <meta name="description" content="Bhagavad Gita, also known as the Gita - "The Song of The Lord" is a practical guide to one's life that guides one to re-organise their life, achieve inner peace and approach the Supreme Lord (the Ultimate Reality)." />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="What is The Bhagavad Gita -  BhagavadGita.io" />
        <meta property="og:description" content="Bhagavad Gita, also known as the Gita - "The Song of The Lord" is a practical guide to one's life that guides one to re-organise their life, achieve inner peace and approach the Supreme Lord (the Ultimate Reality)." />
        <meta property="og:url" content="https://bhagavadgita.io{{request.path}}" />
        <meta property="og:site_name" content="Bhagavad Gita" />
        <meta property="og:image" content="https://bhagavadgita.io/static/images/sribhagavadgita.jpg" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="What is The Bhagavad Gita -  BhagavadGita.io" />
        <meta name="twitter:description" content="Bhagavad Gita, also known as the Gita - "The Song of The Lord" is a practical guide to one's life that guides one to re-organise their life, achieve inner peace and approach the Supreme Lord (the Ultimate Reality)." />
        <meta name="twitter:image" content="https://bhagavadgita.io/static/images/sribhagavadgita.jpg" />

        <script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"Organization","@id":"#organization","name":"Bhagavad Gita","url":"https:\/\/bhagavadgita.io","logo":"https:\/\/bhagavadgita.io\/static\/images\/radhakrishna.png"}</script>
        <script type="application/ld+json">{
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                        "@id": "https://bhagavadgita.io",
                        "name": "Home"
                    }
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item": {
                        "@id": "https://bhagavadgita.io/about/",
                        "name": "What is The Bhagavad Gita -  BhagavadGita.io"
                    }
                }
            ]
        }
        </script>
{% endblock %}


{% block content %}
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">{{ _('Home') }}</a>
  <span class="breadcrumb-item active">{{ _('About') }}</span>
</nav>

<div class="jumbotron">
  <div class="container">
    <div class="text-white text-center d-flex align-items-center">
      <div class="py-5" style="width: 100%; padding-top: 8rem!important;">
        <h1 class="card-title pt-3 mb-5 font-bold">{{ _('ABOUT BHAGAVAD GITA') }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card warning-color text-center z-depth-2 h-100">
        <div class="card-body">
          <p><b>Bhagavad Gita</b>, also known as the <b>Gita</b> - <i>"The Song of The Lord"</i> is a practical guide to one's life that guides one to re-organise their life, achieve inner peace and approach the Supreme Lord (the Ultimate Reality). It is a 700-verse text in Sanskrit which comprises chapters 23 through 40 in the Bhishma-Parva section of the <b>Mahabharata</b>.</p>
          <p>The Bhagavad Gita is a dialogue between <b>Arjuna</b>, a supernaturally gifted warrior and his guide and charioteer <b>Lord Krishna</b> on the battlefield of Kurukshetra. As both armies stand ready for the battle, the mighty warrior Arjuna, on observing the warriors on both sides becomes overwhelmed with grief and compassion due to the fear of losing his relatives and friends and the consequent sins attributed to killing his own relatives. So, he surrenders to Lord Krishna, seeking a solution. Thus, follows the wisdom of the Bhagavad Gita. Over 18 chapters, Gita packs an intense analysis of life, emotions and ambitions, discussion of various types of yoga, including Jnana, Bhakti, Karma and Raja, the difference between Self and the material body as well as the revelation of the Ultimate Purpose of Life.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.jumbotron {
  background-image: url("/static/images/gita.jpg");
  background-size: cover;
}
.breadcrumb {
  margin-bottom: 0rem;
}
h1 {
  text-shadow: -2px -2px 0 #FFBB33, 2px -2px 0 #FFBB33, -2px 2px 0 #FFBB33, 2px 2px 0 #FFBB33;
}
</style>

<script>
  $(document).ready(function () {
    var ua = navigator.userAgent.toLowerCase();
    var isAndroid = ua.indexOf("android") > -1;
    if (isAndroid) {
      console.log("RadhaKrishna")

      var text = `About Bhagavad Gita \nShared via the Bhagavad Gita app. Download Now - \nhttps://play.google.com/store/apps/details?id=com.hanuman.bhagavadgita`
      text = window.encodeURIComponent(text)
      var whatsapp = 'whatsapp://send?text=' + text
      document.getElementById("whatsappbtn").href = whatsapp;

      var twitter = `https://twitter.com/intent/tweet?text=` + text
      document.getElementById("twitterbtn").href = twitter;

      var facebook = `https://www.facebook.com/dialog/share?app_id=153654658590446&display=popup&href=https://bhagavadgita.io/about/&redirect_uri=https://bhagavadgita.io`
      document.getElementById("facebookbtn").href = facebook;

    } else {
      console.log("RadhaKrishnaHanuman")
    }
  })
</script>

{% endblock %}
