<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Best Bhagavad Gita App! Download the Gita App now - 100% free | Android, iPhone, iPad | The Bhagavad Gita App | BhagavadGita.io</title>
	<link rel="shortcut icon" href="/static/images/radhakrishna.png" />
	<meta name="description" content="Read, study and recite the Bhagavad Gita Online or on your smartphone or tablet in a simple, beautiful and easy to use interface. Bhagavad Gita - 'The Song of The Lord' is a practical guide to one's life that guides you to re-organise your life, achieve inner peace and approach the Supreme Lord." />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Best Bhagavad Gita App! Download the Gita App now - 100% free | Android, iPhone, iPad | The Bhagavad Gita App | BhagavadGita.io" />
	<meta property="og:description" content="Read, study and recite the Bhagavad Gita Online or on your smartphone or tablet in a simple, beautiful and easy to use interface. Bhagavad Gita - 'The Song of The Lord' is a practical guide to one's life that guides you to re-organise your life, achieve inner peace and approach the Supreme Lord." />
	<meta property="og:url" content="https://bhagavadgita.io/app/" />
	<meta property="og:site_name" content="Bhagavad Gita" />
	<meta property="og:image" content="https://bhagavadgita.io/static/images/sribhagavadgita.jpg" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Best Bhagavad Gita App! Download the Gita App now - 100% free | Android, iPhone, iPad | The Bhagavad Gita App | BhagavadGita.io" />
	<meta name="twitter:description" content="Read, study and recite the Bhagavad Gita Online or on your smartphone or tablet in a simple, beautiful and easy to use interface. Bhagavad Gita - 'The Song of The Lord' is a practical guide to one's life that guides you to re-organise your life, achieve inner peace and approach the Supreme Lord." />
	<meta name="twitter:image" content="https://bhagavadgita.io/static/images/sribhagavadgita.jpg" />
	<meta name="google-site-verification" content="FafB0VlsAZd51s-bIT0hsgtAY9xdb8PNxCNQ9tsqDqE">
	<meta name="p:domain_verify" content="86b9068ad74e4daa8e1c5e4760021cb0">
	<meta name="msvalidate.01" content="0451A734F7E9BD838957319E106DE363">
	<link rel="alternate" hreflang="en" href="https://bhagavadgita.io/app/" />
	<link rel="alternate" hreflang="en-us" href="https://bhagavadgita.io/app/" />
	<link rel="alternate" hreflang="en-gb" href="https://bhagavadgita.io/app/" />
	<link rel="alternate" hreflang="en-in" href="https://bhagavadgita.io/app/" />
	<script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"Organization","@id":"#organization","name":"Bhagavad Gita","url":"https:\/\/bhagavadgita.io","logo":"https:\/\/bhagavadgita.io\/static\/images\/radhakrishna.png"}</script>
	<script type="application/ld+json">
	          {
	            "@context": "http://schema.org",
	            "@type": "WebSite",
	            "@id": "#website",
	            "name": "Best Bhagavad Gita App! Download the Gita App now - 100% free | Android, iPhone, iPad | The Bhagavad Gita App | BhagavadGita.io",
	            "url": "https://bhagavadgita.io/app/",
	            "potentialAction": {
	              "@type": "SearchAction",
	              "target": "https://bhagavadgita.io/search?query={search_term_string}",
	              "query-input": "required name=search_term_string"
	            }
	          }
	        </script>
					<script type="application/ld+json">{
					        "@context": "http://schema.org",
					        "@type": "BreadcrumbList",
					        "itemListElement": [
					            {
					                "@type": "ListItem",
					                "position": 1,
					                "item": {
					                    "@id": "https://bhagavadgita.io",
					                    "name": "Home"
					                }
					            },
					            {
					                "@type": "ListItem",
					                "position": 2,
					                "item": {
					                    "@id": "https://bhagavadgita.io/app/",
					                    "name": "Bhagavad Gita App",
					                    "image": "https://bhagavadgita.io/static/images/sribhagavadgita.jpg"
					                }
					            }
					        ]
					    }
					</script>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fd9f28">
	<meta name="msapplication-TileColor" content="#fd9f28">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="/static/styles/radhakrishna.css">

</head>

<body data-gr-c-s-loaded="true">

<div class="spinner-wrapper">
	<div class="spinner"></div>
</div>

	<main>
		<nav class="MainMenu navbar is-transparent">
		  <div class="navbar-brand">
		    <a class="navbar-item" href="/">
		      <img src="/static/images/app/gita.png" alt="Bhagavad Gita">
		    </a>
		  </div>

		  <div class="navbar-menu" id="main-menu">
		    <div class="navbar-start">
		    </div>

		    <div class="navbar-end">
		      <div class="navbar-item">
		        <div class="field is-grouped">
		          <p class="control">
		            <a class="button sam-Button" href="https://bhagavadgita.io">
		              <span>Browse the Web App</span>
								</a>
								<a class="button sam-Button" href="https://play.google.com/store/apps/details?id=com.hanuman.bhagavadgita">
									<span>Download From Play Store</span>
								</a>
		          </p>
		        </div>
		      </div>
		    </div>
		  </div>
		</nav>

		<div class="MainHero">
		  <div id="angles" class="">
		    <div class="animals"></div>
		    <span></span>
		    <span></span>
		    <span></span>
		    <span></span>
		    <span></span>
		  </div>
		  <section class="hero is-medium">
		    <div class="hero-body">
		      <div class="container">
		  			<div class="columns">
		  				<div class="column is-6">
		    	      <h2 class="title">
									<span>Bhagavad Gita - Simplied.</span>
		    	      </h2>
		    	      <p class="">
 									Bhagavad Gita - The Song of The Lord is a practical guide to one's life that guides you to re-organise your life, achieve inner peace and approach the Supreme Lord (the Ultimate Reality).
		    	      </p>
		            <p>
		              <br>
									<a class="button round-button webapp download sam-Button" style="margin: 2rem" href="https://bhagavadgita.io">
										Browse the <br> <strong>Web App</strong>
									</a>
									<a class="button round-button android download sam-Button" style="margin: 2rem; margin-top: -1rem" href="https://play.google.com/store/apps/details?id=com.hanuman.bhagavadgita">
										Get It On <br> <strong>Google Play</strong>
									</a>
		            </p>
		  				</div>

		  			</div>
		      </div>

		    </div>
		  </section>
		</div>

		<div class="Mockups">
		  <img src="/static/images/app/devices.png" alt="Bhagavad Gita">
		</div>

		<div class="Bundle hero">

		  <div class="hero-body">

		  <div class="container">

				<div class="columns">
					<div class="column">
						<div class="card equal-height">
							<div class="card-image is-flex" style="justify-content: center;">
								<figure class="image is-128x128" style="margin-top: 1rem;">
									<img src="/static/images/app/veda.svg" alt="Beautiful User Interface">
								</figure>
							</div>
							<div class="card-content">
								<div class="content has-text-centered">
									<p class="title is-4">Beautiful User Interface</p>
									<p></p>
									<p class="subtitle is-6">Read, study and recite the Bhagavad Gita in a simple, beautiful and easy to use interface, helping you focus on reading.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="card equal-height">
							<div class="card-image is-flex" style="justify-content: center;">
								<figure class="image is-128x128" style="margin-top: 1rem;">
									<img src="/static/images/app/search.svg" alt="Search">
								</figure>
							</div>
							<div class="card-content">
								<div class="content has-text-centered">
									<p class="title is-4">Fast Search</p>
									<p></p>
									<p class="subtitle is-6">Search by chapter, verse, phrase or person to quickly find what you are looking for.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="card equal-height">
							<div class="card-image is-flex" style="justify-content: center;">
								<figure class="image is-128x128" style="margin-top: 1rem;">
									<img src="/static/images/app/reliable.svg" alt="Reliable">
								</figure>
							</div>
							<div class="card-content">
								<div class="content has-text-centered">
									<p class="title is-4">Reliable</p>
									<p></p>
									<p class="subtitle is-6">Loads quickly and never shows the dinosaur, even in uncertain network conditions.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="Projects section">
				<div class="container">
					<div class="columns">
						<div class="column feature-box">
								<div class="title" style="color: #F57C00">
										 Explore Each Verse
								</div>
								<div class="text">
										 Dive deep into each verse through a library of translations, transliterations and word meanings.
								</div>
						</div>
						<div class="column">
								<img class="image-box border-shadow" src="/static/images/app/verses.png"
											alt="Explore Each Verse">
						</div>
					</div>
				</div>

				<div class="container">
					<div class="section">
							<div class="columns reverse-in-mobile">
									<div class="column">
											<img class="image-box border-shadow" src="/static/images/app/progress.jpg"
													alt="Progress Tracking">
									</div>
									<div class="column feature-box">
											<div class="title" style="color: #F57C00">
													Progress Tracking
											</div>
											<div class="text">
													 Keep track of your Chapterwise, Overall and Monthly Progress using detailed graphs and statistics and Get Rewarded for your Progress with BADGES.
											</div>
									</div>
							</div>
					</div>
				</div>

				<div class="container">
					<div class="columns">
						<div class="column feature-box">
								<div class="title" style="color: #F57C00">
										Reading Plans
								</div>
								<div class="text">
										Join Reading Plans to easily read Gita at your own pace and improve your Gita reading habits.
								</div>
						</div>
						<div class="column">
								<img class="image-box border-shadow " src="/static/images/app/reading-plans.jpg"
											alt="Reading Plans">
						</div>
					</div>
				</div>

		</div>

	<div class="Education section">
		<div class="container">
			<h2 class="title has-text-centered">Cool Features</h2>
			<div class="owl-carousel owl-theme">
				<div class="item">
					<div class="single-feature">
							<div class="feature-icon">
									<img src="/static/images/app/speed.svg" alt="Really Fast">
							</div>
							<br>
							<h4 class="title">Really Fast</h4>
							<p>Everybody hates slow apps. We are committed to making performance our number one feature.</p>
					</div>
				</div>
				<div class="item">
					<div class="single-feature">
							<div class="feature-icon">
									<img src="/static/images/app/open-source.svg" alt="Open Source">
							</div>
							<br>
							<h4 class="title">Open Source</h4>
							<p>MAKE IT YOUR GITA. Help make your favourite Gita app even better by adding new features, translations etc.</p>
					</div>
				</div>
				<div class="item">
					<div class="single-feature">
							<div class="feature-icon">
									<img src="/static/images/app/api.svg" alt="REST API">
							</div>
							<br>
							<h4 class="title">REST API</h4>
							<p>Integrate the Bhagavad Gita text in your web or mobile application.</p>
					</div>
				</div>
				<div class="item">
					<div class="single-feature">
							<div class="feature-icon">
									<img src="/static/images/app/share.svg" alt="Share">
							</div>
							<br>
							<h4 class="title">Share</h4>
							<p>Encourage your community by sharing verses.</p>
					</div>
				</div>
				<div class="item">
					<div class="single-feature">
							<div class="feature-icon">
									<img src="/static/images/app/free.svg" alt="Free">
							</div>
							<br>
							<h4 class="title">100% FREE</h4>
							<p>Bhagavad Gita is 100% free to use.</p>
					</div>
				</div>
				<div class="item">
					<div class="single-feature">
							<div class="feature-icon">
									<img src="/static/images/app/ad.svg" alt="No Ads">
							</div>
							<br>
							<h4 class="title">No Ads</h4>
							<p>There are no ads that would take your attention away from the word of God.</p>
					</div>
				</div>
				<div class="item">
					<div class="single-feature">
							<div class="feature-icon">
									<img src="/static/images/app/copy.svg" alt="Copy Verses">
							</div>
							<br>
							<h4 class="title">Ability to Copy Verses</h4>
							<p>Like a verse? Press the copy button and save it wherever you want.</p>
					</div>
				</div>
				<div class="item">
					<div class="single-feature">
						<div class="feature-icon">
							<img src="/static/images/app/favorite.svg" alt="Favourites">
						</div>
						<br>
						<h4 class="title">Favourites</h4>
						<p>Share, memorize and find your favorite verses.</p>
					</div>
				</div>
				<div class="item">
					<div class="single-feature">
							<div class="feature-icon">
									<img src="/static/images/app/offline.svg" alt="Offline">
							</div>
							<br>
							<h4 class="title">Available Offline</h4>
							<p>Bhagavad Gita there for you, whenever you want, wherever you want.</p>
					</div>
				</div>
			</div>
		</div>

		<br>

		<div class="container">
			<h2 class="title has-text-centered">Screenshots</h2>
			<div class="owl-carousel owl-theme">
				<div class="item">
						<img src="/static/images/app/yugas/screen-1.jpg" alt="Bhagavad Gita Home">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-2.jpg" alt="List of Chapters">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-3.jpg" alt="Chapter 1 Description">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-4.jpg" alt="Achievements">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-5.jpg" alt="About Bhagavad Gita">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-6.jpg" alt="Favourites">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-7.jpg" alt="Register">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-8.jpg" alt="Search">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-9.jpg" alt="Reading Plans">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-10.jpg" alt="Shloka in Hindi">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-11.jpg" alt="Share">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-12.jpg" alt="Verse in English">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-13.jpg" alt="Change Language">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-14.jpg" alt="List of Verses">
				</div>
				<div class="item">
						<img src="/static/images/app/yugas/screen-15.jpg" alt="Progress Tracking">
				</div>
			</div>
		</div>
	</div>


		<div class="Download section">
		    <div class="container">
		      <div class="section-header columns has-text-centered is-centered">
						<div class="container footer-section">
							<div class="has-text-centered">
								<div class="columns">
									<div class="column" style="margin-top: 2rem">
										<p class="title is-spaced has-text-white">EXPERIENCE THE GITA ANYWHERE!</p>
										<p class="text is-size-5 has-text-white">Take it wherever you go with our apps.</p>
									</div>
									<div class="column">
										<a class="button round-button webapp download sam-Button" style="margin: 2rem" href="https://bhagavadgita.io">
											Browse the
											<br>
											<strong>Web App</strong>
										</a>
										<a class="button round-button android download sam-Button" style="margin: 2rem; margin-top: -1rem" href="https://play.google.com/store/apps/details?id=com.hanuman.bhagavadgita">
											Get It On
											<br>
											<strong>Google Play</strong>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>




		<div class="Contact section" id="contact">
		    <div class="container has-text-centered">
					<h3 class="title">Contact</h3>
		      <div class="columns is-centered ">
		        <div class="column is-4">
							<form method="post" action="https://formspree.io/contact@bhagavadgita.io">
		            <div class="field">
		              <div class="control">
		                <input class="input" placeholder="Full Name *" type="text" name="name" id="name" required>
		              </div>
		            </div>
		            <div class="field">
		              <div class="control">
		                <input class="input" placeholder="Subject *" name="subject" id="subject" required>
		              </div>
		            </div>
		            <div class="field">
		              <div class="control">
		                <input class="input required email" placeholder="Email *" type="email" value="" name="email" id="email" required>
		              </div>
								</div>
								<div class="field">
									<div class="control">
										<textarea class="input" placeholder="Message *" name="message" id="message" required></textarea>
									</div>
								</div>
		            <div class="field">
		              <div class="control has-text-right">
		                <button class="sam-Button button" type="submit" value="Submit">Send</button>
		              </div>
		            </div>
		          </form>
		        </div>
		      </div>
		    </div>
		</div>

		<footer class="MainFooter footer">
		  <div class="container">
		  <div class="has-text-centered">
				<small>Copyright © 2018 BhagavadGita.io | All rights reserved by BhagavadGita.io</small>
		  </div>

		  </div>
		</footer>

	</main>

<script src="/static/scripts/jquery.js"></script>
<script src="/static/scripts/carousel.js"></script>
<script>
	$(document).ready(function () {
		//Preloader
		$(window).on("load", function () {
			preloaderFadeOutTime = 500;

			function hidePreloader() {
				var preloader = $('.spinner-wrapper');
				preloader.fadeOut(preloaderFadeOutTime);
			}
			hidePreloader();
		});
		$(document).ready(function(){
			$(".owl-carousel").owlCarousel({
				loop: true,
        margin: 30,
        responsiveClass: true,
        nav: false,
        autoplay: true,
        autoplayTimeout: 4000,
        smartSpeed: 1000,
        responsive: {
            0: {
                items: 1,
            },
            480: {
                items: 2
            },
            600: {
                items: 3
            },
            1200: {
                items: 4
            },
            1500: {
                items: 5
            },
            1900: {
                items: 6
            }
				}
			});

			$('.gallery').owlCarousel({
        loop: true,
        margin: 0,
        responsiveClass: true,
        nav: true,
        autoplay: true,
        autoplayTimeout: 4000,
        smartSpeed: 1000,
        responsive: {
            0: {
                items: 1,
            },
            480: {
                items: 2
            },
            600: {
                items: 3
            },
            1200: {
                items: 4
            },
            1500: {
                items: 6
            }
        }
    	});
		});
	});
</script>

</body>

</html>
