{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block title %}Badges - Bhagavad Gita{% endblock %}

{% block meta_tags %}
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">{{ _('Home') }}</a>
  <span class="breadcrumb-item active">{{ _('Badges') }}</span>
</nav>

<div class="jumbotron" style="margin-top: -1rem;">
  <div class="container">
    <div class="text-white text-center d-flex align-items-center">
      <div class="py-5" style="width: 100%; padding-top: 3rem!important;">
        <h1 class="card-title pt-3 mb-5 font-bold">{{ _('BADGES') }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom: 10vh; margin-top: 2rem;">
      {% if current_user.is_authenticated %}
        <div class="hanuman-gradient-text" data-direction="horizontal" data-color="hanuman-gradient" align="center">
          <h3>{{ _('Your Badges') }}</h3>
        </div>
        {% if user_badges %}
          <div class="row">
            {% for badge in badges %}
            {% if badge['badge_id'] in user_badges %}
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 mb-3 h-100">
              <div class="card">
                <img class="card-img-top" src="{{badge['badge_image']}}" alt="{{badge['badge_name']}}">
                <div class="card-body">
                  <h5 class="card-title text-center"><strong>{{badge['badge_name']}}</strong></h5>
                </div>
              </div>
            </div>
          {% endif %}
          {% endfor %}
          </div>
        {% else %}
        <div class="card warning-color text-center z-depth-2 h-100">
          <div class="card-body">
            <i class="material-icons" style="font-size: 10rem; color: #F57C00">&#xe885;</i>
            <h3><strong>No Badges yet.</strong></h3>
            <h5>Please earn some badges and come back again.</h5>
          </div>
        </div>
        {% endif %}

        <br>
        <hr>

        <div class="hanuman-gradient-text" data-direction="horizontal" data-color="hanuman-gradient" align="center">
          <h3>{{ _('Badges To Be Earned') }}</h3>
        </div>
        <br>
          <div class="row">
            {% for badge in badges %}
            {% if badge['badge_id'] not in user_badges %}
            <div class="col-lg-3 col-md-3 col-sm-4 col-6 mb-3 h-100">
              <div class="card">
                <img class="card-img-top" src="{{badge['badge_image']}}" alt="{{badge['badge_name']}}" style="filter: grayscale(100%)">
                <div class="card-body">
                  <h5 class="card-title text-center"><strong>{{badge['badge_name']}}</strong></h5>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
      {% else %}

      <div class="card warning-color text-center z-depth-2 h-100">
        <div class="card-body">
          <i class="material-icons" style="font-size: 10rem; color: #F57C00">&#xe885;</i>
          <h3><strong>No Badges yet.</strong></h3>
          <h5>Please login, read through some of the chapters and come back again.</h5>
        </div>
      </div>
      {% endif %}
</div>

<style>
.jumbotron {
  background-image: url("/static/images/gita/bhagavadgita-6.jpg");
  background-size: cover;
}
.btn-rounded {
    border-radius: 10em;
}
h1 {
  text-shadow: -2px -2px 0 #FFBB33, 2px -2px 0 #FFBB33, -2px 2px 0 #FFBB33, 2px 2px 0 #FFBB33;
}
.hanuman-gradient-text[data-color="hanuman-gradient"][data-direction="horizontal"] * {
  background-image: linear-gradient(to right,#ff4f0f,#fd8e26);
}
.hanuman-gradient-text[data-color="hanuman-gradient"] *, .list-icon-holder[data-icon_type="numerical"] span {
  color: #ff4f0f;
  background: linear-gradient(to bottom right,#ff4f0f,#fd8e26);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: inline-block;
}
</style>

{% endblock %}
