{% import 'macros/page_macros.html' as page %} {% extends 'layouts/base.html' %} {% block title %}Bhagavad Gita Quotes By Krishna - BhagavadGita.io{%
endblock %} {% block meta_tags %}
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Bhagavad Gita Quotes By Krishna - BhagavadGita.io" />
<meta property="og:url" content="https://bhagavadgita.io{{request.path}}" />
<meta property="og:site_name" content="Bhagavad Gita" />
<meta property="og:image" content="https://bhagavadgita.io/static/images/sribhagavadgita.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Bhagavad Gita Quotes By Krishna - BhagavadGita.io" />
<meta name="twitter:image" content="https://bhagavadgita.io/static/images/sribhagavadgita.jpg" />

<script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"Organization","@id":"#organization","name":"Bhagavad Gita","url":"https:\/\/bhagavadgita.io","logo":"https:\/\/bhagavadgita.io\/static\/images\/radhakrishna.png"}</script>
<script type="application/ld+json">{
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                        "@id": "https://bhagavadgita.io",
                        "name": "Home"
                    }
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item": {
                        "@id": "https://bhagavadgita.io/bhagavad-gita-quotes/",
                        "name": "Bhagavad Gita Quotes"
                    }
                }
            ]
        }
        </script> {% endblock %} {% block content %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">{{ _('Home') }}</a>
    <span class="breadcrumb-item active">{{ _('Bhagavad Gita Quotes') }}</span>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <h1 align="center">Bhagavad Gita Quotes By Lord Krishna</h1>
            <div class="col-md-12" align="center">
                <img src="/static/images/gita.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <br>
            {% for quote in quotes %}
            <p style="font-size: 1.2rem;">{{loop.index}}. {{quote}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    .jumbotron {
        background-image: url("/static/images/gita.jpg");
        background-size: cover;
    }

    .breadcrumb {
        margin-bottom: 0rem;
    }
</style>
{% endblock %}