{% extends 'layouts/base.html' %}
{% block title %} {{config.APP_NAME}} Chapter {{chapter.chapter_number}} - {{chapter.name_translation | replace('"', "")}} - BhagavadGita.io{% endblock %}

{% block meta_tags %}
        <meta name="description" content="{{chapter.chapter_summary | replace('"', "") | truncate(300)}}" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{config.APP_NAME}} Chapter {{chapter.chapter_number}} - {{chapter.name_translation | replace('"', "")}}" />
        <meta property="og:description" content="{{chapter.chapter_summary | replace('"', "") | truncate(300)}}" />
        <meta property="og:url" content="https://bhagavadgita.io{{request.path}}" />
        <meta property="og:site_name" content="Bhagavad Gita" />
        <meta property="article:publisher" content="https://www.facebook.com/radhakrishnablog/" />
        <meta property="article:tag" content="Krishna" />
        <meta property="article:tag" content="Bhagavad Gita" />
        <meta property="article:tag" content="Bhagwad Gita" />
        <meta property="article:section" content="Bhagavad Gita" />
        <meta property="og:image" content="https://bhagavadgita.io/static/images/sribhagavadgita.jpg" />
        <meta property="og:image:secure_url" content="https://bhagavadgita.io/static/images/sribhagavadgita.jpg" />
        <meta property="og:image:width" content="1920" />
        <meta property="og:image:height" content="1080" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="{{chapter.chapter_summary | replace('"', "") | truncate(300)}}" />
        <meta name="twitter:title" content="{{config.APP_NAME}} Chapter {{chapter.chapter_number}} - {{chapter.name_translation | replace('"', "")}}" />
        <meta name="twitter:image" content="https://bhagavadgita.io/static/images/sribhagavadgita.jpg" />

        <link rel="alternate" hreflang="en" href="https://bhagavadgita.io{{request.path | replace("/hi/", "")}}" />
        <link rel="alternate" hreflang="en-us" href="https://bhagavadgita.io{{request.path | replace("/hi/", "")}}" />
        <link rel="alternate" hreflang="en-gb" href="https://bhagavadgita.io{{request.path | replace("/hi/", "")}}" />
        <link rel="alternate" hreflang="en-in" href="https://bhagavadgita.io{{request.path | replace("/hi/", "")}}" />
        <link rel="alternate" hreflang="hi" href="https://bhagavadgita.io{{request.path | replace("/hi/", "/")}}hi/" />

        <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "https://bhagavadgita.io",
                    "name": "Home"
                }
            },
            {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https://bhagavadgita.io{{request.path}}",
                    "name": "{{config.APP_NAME}} Chapter {{chapter.chapter_number}} - {{chapter.name_translation | replace('"', "")}}",
                    "image": "https://bhagavadgita.io/static/images/sribhagavadgita.jpg"
                }
            }
        ]
    }</script>
{% endblock %}

{% block content %}
  <!-- <nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">{{ _('Home') }}</a>
    <span class="breadcrumb-item active">{{ _('Chapter') }} {{chapter.chapter_number}} - {{chapter.name_translation | replace('"', "")}}</span>
  </nav> -->
  <div class="container" style="margin-top: 5rem;">
    <div class="hanuman-gradient-text" data-direction="horizontal" data-color="hanuman-gradient" align="center">
      <h2><b>{{ _('Chapter') }} {{chapter.chapter_number}} - {{chapter.name_translation | replace('"', "")}}</b></h2>
      <br>
      <h3>{{chapter.name_meaning | replace('"', "")}}</h3>
    </div>
    <br>
    <div class="text-center" id="sharebtn">
    </div>
    <br>
    <p>{{chapter.chapter_summary | replace('"', "")}}</p>
    <br>
    <div data-direction="horizontal" align="center" style="color: #757575;">
      <h6>{{ _('Go to Verse') }}</h6>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <select class="js-example-basic-single" id="verses" name="state" style="width: 100%;">
          <option value="0" disabled="true" selected="true">{{ _('Select Verse') }}</option>
        </select>
      </div>
    </div>
    <br>
    <div class="text-center">
      <div class="btn-group">
        {% set previous_chapter = chapter.chapter_number - 1 %}
        {% if previous_chapter == 0 %}
          <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/" style="font-size: 0.7rem; padding: 0.85rem 1.13rem;"><i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i> {{ _('ALL CHAPTERS') }}</a>
        {% else %}
          <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{previous_chapter}}/?page=1" style="font-size: 0.7rem; padding: 0.85rem 1.13rem;"><i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i> {{ _('CHAPTER') }} {{previous_chapter}}</a>
        {% endif %}

        {% set next_chapter = chapter.chapter_number + 1 %}
        {% if next_chapter == 19 %}
          <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/" style="font-size: 0.7rem; padding: 0.85rem 1.13rem;">{{ _('ALL CHAPTERS') }} <i class="fa fa-arrow-right" style="font-size: 0.7rem;"></i></a>
        {% else %}
          <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{next_chapter}}/?page=1" style="font-size: 0.7rem; padding: 0.85rem 1.13rem;">{{ _('CHAPTER') }} {{next_chapter}} <i class="fa fa-arrow-right" style="font-size: 0.7rem;"></i></a>
        {% endif %}
      </div>
    </div>
    <hr>
    <div class="row">
      {% for verse in verses.items %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
        <div class="card amber darken-1 text-center z-depth-2 h-100">
          <div class="card-body">
              <a class="btn-sm bg-amber-darken-1 my-0 waves-effect waves-light" data-clipboard-text="{{verse.meaning}}" style="float: left;">
                <i class="fa fa-copy" style="color: #fff;"></i>
              </a>
              <a class="btn-sm bg-amber-darken-1 my-0 waves-effect waves-light" data-clipboard-text="https://bhagavadgita.io/chapter/{{chapter.chapter_number}}/verse/{{verse.verse_number}}/" style="float: right;">
                <i class="fa fa-link" style="color: #fff;"></i>
              </a>
              <h4 class="font-up font-bold white-text mt-2 mb-3"><strong>{{ _('Verse') }} {{verse.verse_number}}</strong></h4>
              <hr>
              <p class="white-text mb-0 verse-meaning">{{verse.meaning | replace('"', "")}}</p>

              {% if verse.verse_number not in read_verses %}
              <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{verse.chapter_number}}/verse/{{verse.verse_number}}/">{{ _('OPEN VERSE') }}</a>
              {% else %}
              <a class="btn green btn-rounded waves-effect waves-light" href="/chapter/{{verse.chapter_number}}/verse/{{verse.verse_number}}/">{{ _('OPEN VERSE') }}</a>
              {% endif %}
              
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

      <div class="text-center">
          <div class="pagination" style="text-align: center">
            {% for page in verses.iter_pages() %}
                {% if page %}
                    {% if request.args.get('page') %}
                        <a class="{% if request.args.get('page') == page|string %}active{% endif %}" href="{{request.path}}?page={{page}}">{{page}}</a>
                    {% else  %}
                        <a class="{% if page == 1 %}active{% endif %}" href="{{request.path}}?page={{page}}">{{page}}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
          </div>
      </div>
      {% if current_user.is_authenticated %}
      <div class="text-center">
          <p>Verses with green buttons indicate that they have been read.</p>
      </div>
      {% endif %}
  </div>

  <div class="modal fade" id="radhakrishna" tabindex="-1" role="dialog" aria-labelledby="radhakrishnaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="radhakrishnaTitle">{{ _('Language') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <div>
            <select class="js-example-basic-single" id="languages" name="state" style="width: 100%;">
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">{{ _('Close') }}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="hanuman" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="hanumanTitle">{{ _('Settings') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <h5>
            <b>{{ _('Font Size') }}</b>
          </h5>
          <div class="slidecontainer">
            <input type="range" min="0.5" max="2" value="1" step="0.1" class="slider" id="myRange">
          </div>
          <br>
          <h5>
            <b>{{ _('Theme') }}</b>
          </h5>
          <div>
            <select class="js-example-basic-single" id="theme" name="theme" style="width: 100%;">
              <option value="Light">Light</option>
              <option value="Dark">Dark</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">{{ _('Close') }}</button>
        </div>
      </div>
    </div>
  </div>


  <style>
  .jumbotron {
    background-image: url("/static/images/bhagavadgita.jpeg");
    background-size: cover;
    height: 80vh;
  }
  .hanuman-gradient-text[data-color="hanuman-gradient"][data-direction="horizontal"] * {
    background-image: linear-gradient(to right,#ff4f0f,#fd8e26);
  }
  .hanuman-gradient-text[data-color="hanuman-gradient"] *, .list-icon-holder[data-icon_type="numerical"] span {
    color: #ff4f0f;
    background: linear-gradient(to bottom right,#ff4f0f,#fd8e26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block;
  }
  .btn-rounded {
      border-radius: 10em;
  }
  a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #FD8725;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.card .btn-action {
    margin: -23px 20px;
    margin-left: auto;
    background-color: #ffb300;
    height: 47px;
    width: 47px;
    line-height: 0;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}

.btn-floating {
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    width: 47px;
    height: 47px;
    padding: 0;
    border-radius: 50%;
    margin: 10px;
    background-color: #a6c;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.card .btn-action .fa.fa-chevron-right {
    margin-top: 2px;
    margin-left: 2px;
}

.card .btn-action .fa {
    font-size: 18px;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    font-size: 1.25rem;
    line-height: 47px;
    text-align: center;
}

.select2 .selection .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
    height: 2.05rem;
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
}

.select2-results__option {
    color: #66bb6a;
    padding: 8px 16px;
    font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eee !important;
    color: #66bb6a !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #e1e1e1 !important;
}

.select2-dropdown {
    border: none !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.select2-container--default .select2-results__option[role=group] .select2-results__group {
    background-color: #333333;
    color: #fff;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
}

.select2-container .select2-search--inline .select2-search__field:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.select2-container .select2-selection--multiple {
    min-height: 2.05rem !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #ddd !important;
    color: rgba(0,0,0,0.26);
    border-bottom: 1px dotted rgba(0,0,0,0.26);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #FF9800 !important;
}

.select2-results__option {
    color: #FF9800;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #FF9800;
  box-shadow: 0 1px 0 0 #FF9800;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FDB22B;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FDB22B;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
  </style>
  <script>
  $(document).ready(function() {
    if (document.cookie.indexOf("settings=") >= 0) {
      var settings = JSON.parse(getCookie('settings'));
      if (settings['font']) {
        $('.verse-meaning').css("font-size", settings['font'] + "rem");
        $('#myRange').val(settings['font']);
      }
      if (settings['theme']) {
        $('#theme').val(settings['theme']);
        $('#theme').trigger('change.select2');
      }
    }

    var ua = navigator.userAgent.toLowerCase();
    var isAndroid = ua.indexOf("bhagavadgita") > -1;
    if (!isAndroid) {
      $('#sharebtn').append(`<div class="sharethis-inline-share-buttons"></div>`)
    }
    if (isAndroid) {
      console.log("RadhaKrishna")

      var text = `Bhagavad Gita - {{ _('Chapter') }} {{chapter.chapter_number}} - {{chapter.name_translation | replace('"', "")}} \nShared via the Bhagavad Gita app. Download Now - \nhttps://play.google.com/store/apps/details?id=com.hanuman.bhagavadgita`
      text = window.encodeURIComponent(text)
      var whatsapp = 'whatsapp://send?text=' + text
      document.getElementById("whatsappbtn").href = whatsapp;

      var twitter = `https://twitter.com/intent/tweet?text=` + text
      document.getElementById("twitterbtn").href = twitter;

      var facebook = `https://www.facebook.com/dialog/share?app_id=153654658590446&display=popup&href=https://bhagavadgita.io/chapter/{{chapter.chapter_number}}/&redirect_uri=https://bhagavadgita.io`
      document.getElementById("facebookbtn").href = facebook;

    } else {
      console.log("RadhaKrishnaHanuman")
    }

    $('.js-example-basic-single').select2();

    var languages = $('#languages');

    axios.get('/languages')
    .then(function (response) {
      for (const [key, value] of Object.entries(response.data)) {
        var option = $("<option></option>").
             attr('selected', false).
             text(value).
             val(key);
        option.appendTo(languages);
      }
      if (settings) {
        if (settings['language']) {
          languages.val(settings['language']);
        }
      }
      languages.trigger('change.select2');
    })
    .catch(function (error) {
      console.log(error);
    });

    $('#languages').on("change", function (e) {
      language = $( "#languages option:selected" ).val();
      if (language === "en") {
        window.location.href = "{{request.path}}".slice(0,-3);
      } else {
        window.location.href = "{{request.path}}" + language + '/';
      }
      if (document.cookie.indexOf("settings=") >= 0) {
        var settings = JSON.parse(getCookie('settings'));
        var size = settings['font'];
        var theme = settings['theme'];
        setCookie('settings',JSON.stringify({font: size, language: language, theme: theme}),30);
      } else {
        setCookie('settings',JSON.stringify({font: 1, language: language, theme: "Light"}),30);
      }
    })

    $('#theme').on("change", function (e) {
      theme = $( "#theme option:selected" ).val();
      if (theme === "Dark") {
        $('body').append(`<style id="dark">body{color:#fff;background-color:#121212}.amber.darken-2,.card,.card-body,.modal-content{background-color:#232323!important}.card .card-text{color:#BDBDBD}hr{border-top:1px solid #616161}.sidenav{background-color:#1C1C1C}.sidenav li>a{color:#fff}#mobile-demo>li>a.active,.sidenav .collapsible-header:hover,.sidenav li>a:hover{background-color:#474747}.dropdown-menu{background-color:#1C1C1C}.navbar .dropdown-menu a{color:#fff!important}.navbar .dropdown-menu a:hover{background-color:#474747;color:#fff!important}.select2-container--default .select2-selection--single{background-color:#474747}#email,#first_name,#last_name,#password,#password2,.close,.close:hover,.modal-content,.pagination a,.select2-container--default .select2-selection--single .select2-selection__rendered{color:#fff}.modal-footer{border-top:none!important}</style>`)
      } else {
        console.log("RadhaKrishna")
        $('#dark').remove()
      }

      if (document.cookie.indexOf("settings=") >= 0) {
        var settings = JSON.parse(getCookie('settings'));
        var size = settings['font'];
        var lang = settings['language'];
        setCookie('settings',JSON.stringify({font: size, language: lang, theme: theme}),30);
      } else {
        setCookie('settings',JSON.stringify({font: 1, language: "en", theme: theme}),30);
      }
    })


    var verses = $('#verses');
    var chapter_number = {{chapter.chapter_number}}
    axios.get('/verse-numbers/' + chapter_number)
    .then(function (response) {
      for (const [key, value] of Object.entries(response.data)) {
        var option = $("<option></option>").
             attr('selected', false).
             text(value).
             val(key);
        option.appendTo(verses);
      }
      verses.trigger('change');
    })
    .catch(function (error) {
      console.log(error);
    });

    $('#verses').on("change", function (e) {
      verse = $( "#verses option:selected" ).text()
      if (verse != "{{ _('Select Verse') }}") {
        var verse_number = verse.replace("Verse ", "")
        window.location.href = "/chapter/" + chapter_number + "/verse/" + verse_number;
      }
    })
  });

  $('a').tooltip({
    trigger: 'click',
    placement: 'bottom'
    });

    function setTooltip(btn, message) {
    $(btn).tooltip('hide')
      .attr('data-original-title', message)
      .tooltip('show');
    }

    function hideTooltip(btn) {
    setTimeout(function() {
      $(btn).tooltip('hide');
    }, 1000);
    }

    var clipboard = new Clipboard('a');

    clipboard.on('success', function(e) {
    setTooltip(e.trigger, 'Copied!');
    hideTooltip(e.trigger);
    });

    clipboard.on('error', function(e) {
    setTooltip(e.trigger, 'Failed!');
    hideTooltip(e.trigger);
    });

    var slider = document.getElementById("myRange");

    slider.oninput = function() {
      var size = this.value;
      $('.verse-meaning').css("font-size", size + "rem");
      if (document.cookie.indexOf("settings=") >= 0) {
        var settings = JSON.parse(getCookie('settings'));
        var language = settings['language'];
        var theme = settings['theme'];
        setCookie('settings',JSON.stringify({font: size, language: language, theme: theme}),30);
      } else {
        setCookie('settings',JSON.stringify({font: size, language: "en", theme: "Light"}),30);
      }
    }
  </script>
  <script>
  if (navigator.serviceWorker.controller) {
  } else {
  //Register the ServiceWorker
  navigator.serviceWorker.register('radhakrishna.js', {
    scope: './'
  }).then(function(reg) {
    // console.log('Service worker has been registered for scope:'+ reg.scope);
  });
  }
  </script>
{% endblock %}
