{% extends 'layouts/base.html' %}
{% block title %} {{config.APP_NAME}} Chapter 1 - {{chapter.name_english | replace('"', "")}} - BhagavadGita.io{% endblock %}

{% block meta_tags %}
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{config.APP_NAME}} Chapter 1 - {{chapter.name_english | replace('"', "")}}" />
        <meta property="og:url" content="https://bhagavadgita.io{{request.path}}" />
        <meta property="og:site_name" content="{{config.APP_NAME}}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{config.APP_NAME}} Chapter 1 - {{chapter.name_english | replace('"', "")}}" />
{% endblock %}

{% block content %}
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <span class="breadcrumb-item active">Chapter {{chapter.chapter_number}} - {{chapter.name_transliterated_simple | replace('"', "")}}</span>
  </nav>
  <div class="container" style="margin-top: 2rem;">
    <div class="hanuman-gradient-text" data-direction="horizontal" data-color="hanuman-gradient" align="center">
      <h2><b>Chapter {{chapter.chapter_number}} - {{chapter.name_transliterated_simple | replace('"', "")}}</b></h2>
      <br>
      <h3>{{chapter.name_english | replace('"', "")}}</h3>
    </div>
    <br>
    <p>{{chapter.chapter_summary | replace('"', "")}}</p>
    <br>
    <div data-direction="horizontal" align="center" style="color: #757575;">
      <h6>Go To Verse</h6>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <select class="js-example-basic-single" id="verses" name="state" style="width: 100%;">
          <option value="0" disabled="true" selected="true">Select Verse</option>
        </select>
      </div>
    </div>
    <br>
    <div class="text-center">
      <div class="btn-group">
        {% set previous_chapter = chapter.chapter_number - 1 %}
        {% if previous_chapter == 0 %}
          <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/" style="font-size: 0.7rem; padding: 0.85rem 1.13rem;"><i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i> ALL CHAPTERS</a>
        {% else %}
          <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{previous_chapter}}" style="font-size: 0.7rem; padding: 0.85rem 1.13rem;"><i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i> CHAPTER {{previous_chapter}}</a>
        {% endif %}

        {% set next_chapter = chapter.chapter_number + 1 %}
        {% if next_chapter == 18 %}
          <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/" style="font-size: 0.7rem; padding: 0.85rem 1.13rem;">ALL CHAPTERS <i class="fa fa-arrow-right" style="font-size: 0.7rem;"></i></a>
        {% else %}
          <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{next_chapter}}" style="font-size: 0.7rem; padding: 0.85rem 1.13rem;">CHAPTER {{next_chapter}} <i class="fa fa-arrow-right" style="font-size: 0.7rem;"></i></a>
        {% endif %}
      </div>
    </div>
    <hr>
    <div class="row">
      {% for verse in verses %}
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
        <div class="card amber darken-1 text-center z-depth-2 h-100">
          <div class="card-body">
              <a class="btn-sm bg-amber-darken-1 my-0 waves-effect waves-light" data-clipboard-text="{{verse.meaning_english}}" style="float: left;">
                <i class="fa fa-copy" style="color: #fff;"></i>
              </a>
              <a class="btn-sm bg-amber-darken-1 my-0 waves-effect waves-light" data-toggle="modal" data-target="#radhakrishna" data-verse_number="{{verse.verse_number}}" style="float: right;">
                <i class="fa fa-share" style="color: #fff;"></i>
              </a>
              <h4 class="font-up font-bold white-text mt-2 mb-3"><strong>Verse {{verse.verse_number}}</strong></h4>
              <hr>
              <p class="white-text mb-0">{{verse.meaning_english | replace('"', "")}}</p>
              <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{verse.chapter_number}}/verse/{{verse.verse_number}}">OPEN VERSE</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="modal fade" id="radhakrishna" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-notify modal-warning" role="document">
              <!--Content-->
              <div class="modal-content">
                  <!--Header-->
                  <div class="modal-header">
                      <p class="heading lead">Share</p>

                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" class="white-text">&times;</span>
                      </button>
                  </div>

                  <!--Body-->
                  <div class="modal-body">
                      <div class="text-center">
                          <input type="text" name="verse-number" value=""/>
                          <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                          <a class="btn btn-warning btn-rounded waves-effect waves-light" id="shareFacebook">RadhaKrishna</a>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis ad consequatur in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim,
                              ab officiis totam.</p>
                      </div>
                  </div>

                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                      <a class="btn krishna-gradient btn-rounded waves-effect waves-light">Close</a>
                  </div>
              </div>
              <!--/.Content-->
          </div>
      </div>

  <style>
  .jumbotron {
    background-image: url("/static/images/bhagavadgita.jpeg");
    background-size: cover;
    height: 80vh;
  }
  .hanuman-gradient-text[data-color="hanuman-gradient"][data-direction="horizontal"] * {
    background-image: linear-gradient(to right,#ff4f0f,#fd8e26);
  }
  .hanuman-gradient-text[data-color="hanuman-gradient"] *, .list-icon-holder[data-icon_type="numerical"] span {
    color: #ff4f0f;
    background: linear-gradient(to bottom right,#ff4f0f,#fd8e26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block;
  }
  .btn-rounded {
      border-radius: 10em;
  }
  a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.card .btn-action {
    margin: -23px 20px;
    margin-left: auto;
    background-color: #ffb300;
    height: 47px;
    width: 47px;
    line-height: 0;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}

.btn-floating {
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    width: 47px;
    height: 47px;
    padding: 0;
    border-radius: 50%;
    margin: 10px;
    background-color: #a6c;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.card .btn-action .fa.fa-chevron-right {
    margin-top: 2px;
    margin-left: 2px;
}

.card .btn-action .fa {
    font-size: 18px;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    font-size: 1.25rem;
    line-height: 47px;
    text-align: center;
}
.modal-dialog.modal-notify.modal-warning .modal-header {
    background-color: #FDB22B;
}
.modal-header {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.select2 .selection .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
    height: 2.05rem;
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
}

.select2-results__option {
    color: #66bb6a;
    padding: 8px 16px;
    font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eee !important;
    color: #66bb6a !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #e1e1e1 !important;
}

.select2-dropdown {
    border: none !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.select2-container--default .select2-results__option[role=group] .select2-results__group {
    background-color: #333333;
    color: #fff;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
}

.select2-container .select2-search--inline .select2-search__field:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.select2-container .select2-selection--multiple {
    min-height: 2.05rem !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #ddd !important;
    color: rgba(0,0,0,0.26);
    border-bottom: 1px dotted rgba(0,0,0,0.26);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #FF9800 !important;
}

.select2-results__option {
    color: #FF9800;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #FF9800;
  box-shadow: 0 1px 0 0 #FF9800;
}
  </style>

  <script>
  $(document).ready(function() {
    $.ajaxSetup({ cache: true });
    $.getScript('https://connect.facebook.net/en_US/sdk.js', function(){
      FB.init({
        appId: '145393166088568',
        version: 'v2.7' // or v2.1, v2.2, v2.3, ...
      });
      $('#loginbutton,#feedbutton').removeAttr('disabled');
    });

    $('.js-example-basic-single').select2();

    var verses = $('#verses');
    var chapter_number = {{chapter.chapter_number}}
    axios.get('/verse-numbers/' + chapter_number)
    .then(function (response) {
      for (const [key, value] of Object.entries(response.data)) {
        var option = $("<option></option>").
             attr('selected', false).
             text(value).
             val(key);
        option.appendTo(verses);
      }
      verses.trigger('change');
    })
    .catch(function (error) {
      console.log(error);
    });

    $('#verses').on("change", function (e) {
      verse = $( "#verses option:selected" ).text()
      if (verse != "Select Verse") {
        var verse_number = verse.replace("Verse ", "")
        window.location.href = "/chapter/" + chapter_number + "/verse/" + verse_number;
      }
    })
  });

  $('a').tooltip({
    trigger: 'click',
    placement: 'bottom'
    });

    function setTooltip(btn, message) {
    $(btn).tooltip('hide')
      .attr('data-original-title', message)
      .tooltip('show');
    }

    function hideTooltip(btn) {
    setTimeout(function() {
      $(btn).tooltip('hide');
    }, 1000);
    }

    var clipboard = new Clipboard('a');

    clipboard.on('success', function(e) {
    setTooltip(e.trigger, 'Copied!');
    hideTooltip(e.trigger);
    });

    clipboard.on('error', function(e) {
    setTooltip(e.trigger, 'Failed!');
    hideTooltip(e.trigger);
    });

    $('#radhakrishna').on('show.bs.modal', function(e) {
        var verse_number = $(e.relatedTarget).data('verse_number');
        $(e.currentTarget).find('input[name="verse-number"]').val(verse_number);
    });

    $('#shareFacebook').click(function(){
      FB.ui({
        method: 'share',
        href: 'https://developers.facebook.com/docs/',
      }, function(response){});
    });
  </script>
{% endblock %}
