{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div align="center">

      {% set flashes = {
          'error':   get_flashed_messages(category_filter=['form-error']),
          'warning': get_flashed_messages(category_filter=['form-check-email']),
          'info':    get_flashed_messages(category_filter=['form-info']),
          'success': get_flashed_messages(category_filter=['form-success'])
      } %}

      <section class="form-gradient" style="margin-top: 3rem;">

          <!--Form with header-->
          <div class="card" style="margin-bottom: 5rem;">

              <!--Header-->
              <div class="header pt-3 hanuman-gradient">
                <h3 class="white-text mb-3 pt-3 font-bold">Contact Us</h3>
                <p class="white-text">Reach out with any questions you have.</p>
              </div>
              <!--Header-->

              <div class="card-body mt-4" style="margin-left: 1rem; margin-right: 0.5rem;">
              {{ f.begin_form(form, flashes) }}
                  <!--Body-->
                  <div class="md-form">
                      {{ f.render_form_field(form.name) }}

                      {{ f.render_form_field(form.email) }}
                  </div>

                  <div class="md-form pb-1 pb-md-3">
                      {{ f.render_form_field(form.subject) }}
                      {{ f.render_form_field(form.message) }}
                  </div>


                  <!--Grid row-->
                  <div align="center">

                    {{ f.form_message(flashes['error'], header='Something went wrong.', class='danger') }}
                    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                    {{ f.form_message(flashes['info'], header='Information', class='info') }}
                    {{ f.form_message(flashes['success'], header='Success!', class='success') }}

                    <button type="submit" class="btn btn-grey btn-rounded z-depth-1a" value="Send" style="border-radius: 10em;">Send</button>

                  </div>
                  <!--Grid row-->
                 {{ f.end_form(form) }}
              </div>

          </div>
          <!--/Form with header-->
          {{ check.password_check('password', 0) }}
      </section>
    </div>
  </div>
</div>
</div>

    <style>
      body {
        background: #EEEEEE;
      }
      .peach-gradient {
         background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262);
         background: linear-gradient(40deg,#ffd86f,#fc6262);
     }
    </style>
    <script src="/upup.min.js"></script>
    <script>
      UpUp.start({
        'content': 'Cannot reach site. Please check your internet connection.',
        'content-url': '/',
        'cache-version': 'v2',
        'assets': [
          '/static/styles/app.css',
          '/static/webassets-external/e2004f5e6d9cac08c7960d53c9848148_bootstrap.min.css',
          '/static/webassets-external/f02fdd49f14a7ca24df9629e39fc75bd_mdb.min.css',
          '/static/webassets-external/0cebf0022b3ceead7531e7da3d9cac78_select2.min.css',
          '/static/webassets-external/a967f73b8ac0a718e732152b9e904771_font-awesome.min.css',
          '/static/webassets-external/b54b4ca42f274426735df5e793a90a1b_bootstrap-social.min.css',
          '/static/webassets-external/7b04a33a91a4277cb27bac45f57d8b79_zxcvbn.js',
          '/static/webassets-external/417e728cfb5e32f47a2321f72899255f_bootstrap.min.js',
          '/static/webassets-external/c8b1b2b15864748a310a1607f2ef1972_popper.min.js',
          '/static/webassets-external/1a51ffbcd22149edb670fba660fb6a3b_clipboard.min.js',
          '/static/webassets-external/b1ba1f3114aeaff5d0aeb595c01adff1_select2.min.js',
          '/static/webassets-external/644836ea0df0f78e4a5430e55a3f863d_axios.min.js',
          '/static/webassets-external/6e88c3fa95357d2c8e34c2002d471dcf_app.js',
          '/static/webassets-external/32a7dc539f3c299e3aa5d67cef53df59_mdb.min.js'
        ]
      });
    </script>
{% endblock %}
