{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block content %}
    <div align="center">

      {% set flashes = {
          'error':   get_flashed_messages(category_filter=['form-error']),
          'warning': get_flashed_messages(category_filter=['form-check-email']),
          'info':    get_flashed_messages(category_filter=['form-info']),
          'success': get_flashed_messages(category_filter=['form-success'])
      } %}

      <section class="form-gradient" style="margin-top: 3rem;">

          <!--Form with header-->
          <div class="card" style="width: 23rem; margin-bottom: 5rem;">

              <!--Header-->
              <div class="header pt-3 hanuman-gradient">

                  <div class="row d-flex justify-content-center">
                      <h3 class="white-text mb-3 pt-3 font-bold">Contact Us</h3>
                      <p class="white-text">Reach out with any questions you have.</p>
                  </div>

              </div>
              <!--Header-->

              <div class="card-body mt-4" style="margin-left: 1rem; margin-right: 0.5rem;">
              {{ f.begin_form(form, flashes) }}
                  <!--Body-->
                  <div class="md-form">
                      {{ f.render_form_field(form.name) }}

                      {{ f.render_form_field(form.email) }}
                  </div>

                  <div class="md-form pb-1 pb-md-3">
                      {{ f.render_form_field(form.subject) }}
                      {{ f.render_form_field(form.message) }}
                  </div>


                  <!--Grid row-->
                  <div align="center">

                    {{ f.form_message(flashes['error'], header='Something went wrong.', class='danger') }}
                    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                    {{ f.form_message(flashes['info'], header='Information', class='info') }}
                    {{ f.form_message(flashes['success'], header='Success!', class='success') }}

                    <button type="submit" class="btn btn-grey btn-rounded z-depth-1a" value="Send" style="border-radius: 10em;">Send</button>

                  </div>
                  <!--Grid row-->
                 {{ f.end_form(form) }}
              </div>

          </div>
          <!--/Form with header-->
          {{ check.password_check('password', 0) }}
      </section>

    <style>
      body {
        background: #EEEEEE;
      }
      .peach-gradient {
         background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262);
         background: linear-gradient(40deg,#ffd86f,#fc6262);
     }
    </style>
{% endblock %}
