{% extends 'layouts/base.html' %}
{% block title %}Srimad Bhagavad Gita - Free Searchable Online Bhagwat Geeta{% endblock %}

{% block meta_tags %}
        <meta name="description" content="Bhagwat Geeta in Hindi and English. Read Bhagavad Gita online in a simple, beautiful and easy-to-use interface; Gita Saar In Hindi; Bhagavad Gita quotes." />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Srimad Bhagavad Gita - Free Searchable Online Bhagwat Geeta" />
        <meta property="og:description" content="Bhagwat Geeta in Hindi and English. Read Bhagavad Gita online in a simple, beautiful and easy-to-use interface; Gita Saar In Hindi; Bhagavad Gita quotes." />
        <meta property="og:url" content="https://bhagavadgita.io{{request.path}}" />
        <meta property="og:site_name" content="Bhagavad Gita" />
        <meta property="og:image" content="https://bhagavadgita.io/static/images/sribhagavadgita.jpg" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Srimad Bhagavad Gita - Free Searchable Online Bhagwat Geeta" />
        <meta name="twitter:description" content="Bhagwat Geeta in Hindi and English. Read Bhagavad Gita online in a simple, beautiful and easy-to-use interface; Gita Saar In Hindi; Bhagavad Gita quotes." />
        <meta name="twitter:image" content="https://bhagavadgita.io/static/images/sribhagavadgita.jpg" />

        <meta name="google-site-verification" content="FafB0VlsAZd51s-bIT0hsgtAY9xdb8PNxCNQ9tsqDqE">
        <meta name="p:domain_verify" content="21a3d58146eb60f13c6fc72f26abda2d"/>
        <meta name="msvalidate.01" content="0451A734F7E9BD838957319E106DE363" />

        <link rel="alternate" hreflang="en" href="https://bhagavadgita.io/" />
        <link rel="alternate" hreflang="en-us" href="https://bhagavadgita.io/" />
        <link rel="alternate" hreflang="en-gb" href="https://bhagavadgita.io/" />
        <link rel="alternate" hreflang="en-in" href="https://bhagavadgita.io/" />
        <link rel="alternate" hreflang="hi" href="https://bhagavadgita.io/hi/" />

        <script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"Organization","@id":"#organization","name":"Bhagavad Gita","url":"https:\/\/bhagavadgita.io","logo":"https:\/\/bhagavadgita.io\/static\/images\/radhakrishna.png"}</script>
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "@id": "#website",
            "name": "Bhagavad Gita - Free Searchable Online Bhagavad Gita",
            "url": "https://bhagavadgita.io",
            "potentialAction": {
              "@type": "SearchAction",
              "target": "https://bhagavadgita.io/search?query={search_term_string}",
              "query-input": "required name=search_term_string"
            }
          }
        </script>
        <script type="application/ld+json">{
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item": {
                        "@id": "https://bhagavadgita.io",
                        "name": "Home"
                    }
                }
            ]
        }
        </script>
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
      <div class="text-white text-center d-flex align-items-center">
        <div class="py-5" style="width: 100%; padding-top: 8rem!important;">
          <h1 class="card-title pt-3 mb-5 font-bold">{{ _('BHAGAVAD GITA') }}</h1>
          <a class="btn btn-warning krishna-gradient btn-rounded waves-effect waves-light" href="#bg-1">{{ _('Explore') }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row justify-content-center mb-3">
      <div class="col-md-3">
        <div class="hanuman-gradient-text" data-direction="horizontal" data-color="hanuman-gradient" align="center">
          <h5>{{ _('Your Language (भाषा) :') }}</h5>
        </div>
      </div>
      <div class="col-md-3" style="margin-bottom: 1rem;">
        <select class="js-example-basic-single" id="languagesmob" name="state" style="width: 100%;">
        </select>
      </div>
    </div>

    <div data-direction="horizontal" align="center" style="color: #757575;">
      <h6>{{ _('Go to Verse') }}</h6>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3" style="margin-bottom: 1rem;">
        <select class="js-example-basic-single" id="chapters" name="state" style="width: 100%;">
          <option value="0" disabled="true" selected="true">{{ _('Select Chapter') }}</option>
        </select>
      </div>
      <div class="col-md-3">
        <select class="js-example-basic-single" id="verses" name="state" style="width: 100%;">
          <option value="0" disabled="true" selected="true">{{ _('Select Verse') }}</option>
        </select>
      </div>
    </div>

    <br>
    <hr>

    <div class="hanuman-gradient-text" data-direction="horizontal" data-color="hanuman-gradient" align="center">
      <h3>{{ _('Chapters') }}</h3>
    </div>

    <br>

    <div class="row">
      {% for chapter in chapters %}
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
        <!-- <div class="card h-100" id="bg-{{chapter.chapter_number}}">
          <div class="view overlay hm-white-slight">
              <img data-src="/static/images/{{chapter.image_name}}.jpg" class="img-fluid" alt="{{chapter.name_meaning}}">
              <a href="/chapter/{{chapter.chapter_number}}/?page=1">
                  <div class="mask waves-effect waves-light"></div>
              </a>
          </div>
          <a class="btn-floating btn-action waves-effect waves-light" href="/chapter/{{chapter.chapter_number}}/?page=1"><i class="fa fa-chevron-right"></i></a>
          <div class="card-body">
              <h4 class="card-title"><b>{{ _('Chapter') }} {{chapter.chapter_number}} - {{chapter.name_translation | replace('"', "")}}</b></h4>
              <hr>
              <p class="card-text">{{chapter.name_meaning | replace('"', "")}}</p>
          </div>
        </div> -->

        <div class="card card-primary h-100" id="bg-{{chapter.chapter_number}}" style="margin-bottom: auto; margin-top: auto">
        <div class="view overlay hm-white-slight h-100">
          <a href="/chapter/{{chapter.chapter_number}}/?page=1">
            <div class="mask waves-effect waves-light"></div>
          </a>
        <div class="view view-cascade gradient-card-header h-100" style="margin-bottom: auto; margin-top: auto">
          <h2 class="card-header-title chapter-name" style="color: white; font-weight: 500; font-family: samarkan; padding-left: 1rem; padding-right: 1rem; padding-top: 1rem;">{{chapter.chapter_number}}. {{chapter.name_translation | replace('"', "")}}</h2>
          <p class="chapter-meaning" style="color: white; font-family: cursive; padding-left: 1rem; padding-right: 1rem; font-size: 1.2rem;">{{chapter.name_meaning | replace('"', "")}}</p>
          {% if current_user.is_authenticated %}
            {% for ch, percent in progress.items() %}
              {% if chapter.chapter_number == ch %}
              <div class="col-md-12">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{percent}}%" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  </div>

  <hr>

  <div class="hanuman-gradient-text" data-direction="horizontal" data-color="hanuman-gradient" align="center">
    <h3>{{ _('Introduction to Bhagavad Gita') }}</h3>
  </div>
  <div class="container" style="margin-bottom: 3rem;">
    <div class="row">
      <div class="col-md-12">
        <div class="card warning-color text-center z-depth-2 h-100">
          <div class="card-body">
            <p><b>Bhagavad Gita</b>, also known as the <b>Gita</b> - <i>"The Song of God"</i> is a practical guide to one's life that guides one to re-organise their life, achieve inner peace and approach the Supreme (the Ultimate Reality). It is a 700-verse text in Sanskrit which comprises chapters 23 through 40 in the Bhishma-Parva section of the <b>Mahabharata</b>.</p>
            <p>The Bhagavad Gita is a dialogue between <b>Arjuna</b>, a supernaturally gifted warrior and his guide and charioteer <b>Lord Krishna</b> on the battlefield of Kurukshetra. As both armies stand ready for the battle, the mighty warrior Arjuna, on observing the warriors on both sides becomes overwhelmed with grief and compassion due to the fear of losing his relatives and friends and the consequent sins attributed to killing his own relatives. So, he surrenders to Lord Krishna, seeking a solution. Thus, follows the wisdom of the Bhagavad Gita. Over 18 chapters, the Bhagavad Gita packs an intense analysis of life, emotions and ambitions, discussion of various types of yoga, including Jnana, Bhakti, Karma and Raja, the difference between Self and the material body as well as the revelation of the Ultimate Purpose of Life.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="radhakrishna" tabindex="-1" role="dialog" aria-labelledby="radhakrishnaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="radhakrishnaTitle">{{ _('Language') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <div>
            <select class="js-example-basic-single" id="languages" name="state" style="width: 100%;">
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">{{ _('Close') }}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="hanuman" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="hanumanTitle">{{ _('Settings') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <h5>
            <b>{{ _('Font Size') }}</b>
          </h5>
          <div class="slidecontainer">
            <input type="range" min="0.5" max="2" value="1" step="0.1" class="slider" id="myRange">
          </div>
          <br>
          <h5>
            <b>{{ _('Theme') }}</b>
          </h5>
          <div>
            <select class="js-example-basic-single" id="theme" name="theme" style="width: 100%;">
              <option value="Light">Light</option>
              <option value="Dark">Dark</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">{{ _('Close') }}</button>
        </div>
      </div>
    </div>
  </div>

  <style>
  @font-face {
  font-family: 'Samarkan';
  src: url('/static/font/samarkan.woff') format('woff'),
    url('/static/font/samarkan.woff') format('truetype');
  }

  .jumbotron {
    background-image: url("/static/images/sribhagavadgita.jpg");
    background-size: cover;
  }
  .hanuman-gradient-text[data-color="hanuman-gradient"][data-direction="horizontal"] * {
    background-image: linear-gradient(to right,#ff4f0f,#fd8e26);
  }
  .hanuman-gradient-text[data-color="hanuman-gradient"] *, .list-icon-holder[data-icon_type="numerical"] span {
    color: #ff4f0f;
    background: linear-gradient(to bottom right,#ff4f0f,#fd8e26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block;
  }
  .btn-rounded {
      border-radius: 10em;
  }
  a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.card .btn-action {
    margin: -23px 20px;
    margin-left: auto;
    background-color: #ffb300;
    height: 47px;
    width: 47px;
    line-height: 0;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}

.btn-floating {
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    width: 47px;
    height: 47px;
    padding: 0;
    border-radius: 50%;
    margin: 10px;
    background-color: #a6c;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.card .btn-action .fa.fa-chevron-right {
    margin-top: 2px;
    margin-left: 2px;
}

.card .btn-action .fa {
    font-size: 18px;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    font-size: 1.25rem;
    line-height: 47px;
    text-align: center;
}

.select2 .selection .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
    height: 2.05rem;
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
}

.select2-results__option {
    color: #66bb6a;
    padding: 8px 16px;
    font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eee !important;
    color: #66bb6a !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #e1e1e1 !important;
}

.select2-dropdown {
    border: none !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.select2-container--default .select2-results__option[role=group] .select2-results__group {
    background-color: #333333;
    color: #fff;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
}

.select2-container .select2-search--inline .select2-search__field:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.select2-container .select2-selection--multiple {
    min-height: 2.05rem !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #ddd !important;
    color: rgba(0,0,0,0.26);
    border-bottom: 1px dotted rgba(0,0,0,0.26);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #FF9800 !important;
}

.select2-results__option {
    color: #FF9800;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #FF9800;
  box-shadow: 0 1px 0 0 #FF9800;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FDB22B;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FDB22B;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

body > div:nth-child(4) {
  margin-top: 3.5rem;
}

@media only screen and (max-width : 992px) {
  h1 {
    display: none;
  }
}

.card.card-cascade .view.view-cascade {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}

.orange-gradient {
 background: #ffa000; background: -moz-linear-gradient(-45deg, #ffb300 0%, #f57c00 100%);
 background: -webkit-linear-gradient(-45deg,#ffb300 0%, #f57c00 100%);
 background: linear-gradient(135deg, #ffb300 0%, #f57c00 100%);
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.card.card-cascade .view.view-cascade.gradient-card-header {
    padding-top: 1rem;
    text-align: center;
}

.card.card-cascade .view.view-cascade.gradient-card-header .card-header-title {
    font-weight: 500;
    font-family: samarkan;
    font-size: 2rem;
}

.card {
  background-color: white;
  word-wrap: break-word;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f2f2f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e5e5e5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}
.card.card-primary {
  color: white;
}
.card.card-primary {
  background-color:#ffa000;
  text-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.25);
 box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #ff8f00, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0,
0.1), 0 1em 0 -0.5em #ff6f00, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}
.card > :last-child {
  margin-bottom: 0;
}

</style>

<script>
  $(document).ready(function() {
      if (document.cookie.indexOf("settings=") >= 0) {
        var settings = JSON.parse(getCookie('settings'));
        if (settings['font']) {
          $('.chapter-meaning').css("font-size", settings['font']*1.2 + "rem");
          $('#myRange').val(settings['font']);
        }
        if (settings['theme']) {
          $('#theme').val(settings['theme']);
          $('#theme').trigger('change.select2');
        }
      }

      var myLazyLoad = new LazyLoad();

      $('.js-example-basic-single').select2();

      var languages = $('#languages');
      var languagesmob = $('#languagesmob');

      var hreflang = "{{request.path | replace("/", "")}}"
      if (hreflang == ""){
        hreflang = "en"
      }

      var ua = navigator.userAgent.toLowerCase();
      var isAndroid = ua.indexOf("bhagavadgita") > -1;
      if (isAndroid) {
        console.log("RadhaKrishna")
        var text = `Shrimad Bhagavad Gita in English and Hindi with complete translations and purports. Download the Bhagavad Gita app Now - \nhttps://play.google.com/store/apps/details?id=com.hanuman.bhagavadgita`
        text = window.encodeURIComponent(text)
        var whatsapp = 'whatsapp://send?text=' + text
        document.getElementById("whatsappbtn").href = whatsapp;

        var twitter = `https://twitter.com/intent/tweet?text=` + text
        document.getElementById("twitterbtn").href = twitter;

        var facebook = `https://www.facebook.com/dialog/share?app_id=153654658590446&display=popup&href=https://bhagavadgita.io&redirect_uri=https://bhagavadgita.io`
        document.getElementById("facebookbtn").href = facebook;
      } else {
        console.log("RadhaKrishnaHanuman")
      }

      axios.get('/languages')
      .then(function (response) {
        for (const [key, value] of Object.entries(response.data)) {
          var option = $("<option></option>").
               attr('selected', false).
               text(value).
               val(key);
          option.appendTo(languages);
        }
        for (const [key, value] of Object.entries(response.data)) {
          var option = $("<option></option>").
               attr('selected', false).
               text(value).
               val(key);
          option.appendTo(languagesmob);
        }
        languages.val(hreflang);
        languagesmob.val(hreflang);
        if (settings) {
          if (settings['language']) {
            languages.val(settings['language']);
            languagesmob.val(settings['language']);
          }
        }
        languages.trigger('change.select2');
        languagesmob.trigger('change.select2');
      })
      .catch(function (error) {
        console.log(error);
      });

      $('#languages').on("change", function (e) {
        language = $( "#languages option:selected" ).val();
        if (language === "en") {
          window.location.href = "/"
        } else {
          window.location.href = "/" + language;
        }

        if (document.cookie.indexOf("settings=") >= 0) {
          var settings = JSON.parse(getCookie('settings'));
          var size = settings['font'];
          var theme = settings['theme'];
          setCookie('settings',JSON.stringify({font: size, language: language, theme: theme}),30);
        } else {
          setCookie('settings',JSON.stringify({font: 1.2, language: language, theme: "Light"}),30);
        }
      })

      $('#languagesmob').on("change", function (e) {
        language = $( "#languagesmob option:selected" ).val();
        if (language === "en") {
          window.location.href = "/"
        } else {
          window.location.href = "/" + language;
        }

        if (document.cookie.indexOf("settings=") >= 0) {
          var settings = JSON.parse(getCookie('settings'));
          var size = settings['font'];
          var theme = settings['theme'];
          setCookie('settings',JSON.stringify({font: size, language: language, theme: theme}),30);
        } else {
          setCookie('settings',JSON.stringify({font: 1.2, language: language, theme: "Light"}),30);
        }
      })

      $('#theme').on("change", function (e) {
        theme = $( "#theme option:selected" ).val();
        if (theme === "Dark") {
          $('body').append(`<style id="dark">body{color:#fff;background-color:#121212}.amber.darken-2,.card,.card-body,.modal-content{background-color:#232323!important}.card .card-text{color:#BDBDBD}hr{border-top:1px solid #616161}.sidenav{background-color:#1C1C1C}.sidenav li>a{color:#fff}#mobile-demo>li>a.active,.sidenav .collapsible-header:hover,.sidenav li>a:hover{background-color:#474747}.dropdown-menu{background-color:#1C1C1C}.navbar .dropdown-menu a{color:#fff!important}.navbar .dropdown-menu a:hover{background-color:#474747;color:#fff!important}.select2-container--default .select2-selection--single{background-color:#474747}#email,#first_name,#last_name,#password,#password2,.close,.close:hover,.modal-content,.pagination a,.select2-container--default .select2-selection--single .select2-selection__rendered{color:#fff}.modal-footer{border-top:none!important}</style>`)
        } else {
          console.log("RadhaKrishna")
          $('#dark').remove()
        }

        if (document.cookie.indexOf("settings=") >= 0) {
          var settings = JSON.parse(getCookie('settings'));
          var size = settings['font'];
          var lang = settings['language'];
          setCookie('settings',JSON.stringify({font: size, language: lang, theme: theme}),30);
        } else {
          setCookie('settings',JSON.stringify({font: 1.2, language: "en", theme: theme}),30);
        }
      })

      var chapters = $('#chapters');

      axios.get('/chapter-numbers')
      .then(function (response) {
        for (const [key, value] of Object.entries(response.data)) {
          var option = $("<option></option>").
               attr('selected', false).
               text(value).
               val(key);
          option.appendTo(chapters);
        }
        chapters.trigger('change');
      })
      .catch(function (error) {
        console.log(error);
      });

      var select2Options = { width: 'resolve' };
      var apiUrl = '/verse-numbers/:parentId:';

      $('select').select2(select2Options);
      var cascadLoading = new Select2Cascade($('#chapters'), $('#verses'), apiUrl, select2Options);
      cascadLoading.then( function(parent, child, items) {
      });

      $('#verses').on("change", function (e) {
        var chapter_number = $( "#chapters option:selected" ).val()
        verse = $( "#verses option:selected" ).text()
        var verse_number = verse.replace("Verse ", "")
        window.location.href = "/chapter/" + chapter_number + "/verse/" + verse_number;
      })

  });

  var Select2Cascade = ( function(window, $) {

      function Select2Cascade(parent, child, url, select2Options) {
          var afterActions = [];
          var options = select2Options || {};

          // Register functions to be called after cascading data loading done
          this.then = function(callback) {
              afterActions.push(callback);
              return this;
          };

          parent.select2(select2Options).on("change", function (e) {

              child.prop("disabled", true);
              var _this = this;

              if ($(this).val() != null) {
                $.getJSON(url.replace(':parentId:', $(this).val()), function(items) {
                    var newOptions = '<option value="">-- Select --</option>';
                    for(var id in items) {
                        newOptions += '<option value="'+ id +'">'+ items[id] +'</option>';
                    }

                    child.select2('destroy').html(newOptions).prop("disabled", false)
                        .select2(options);

                    afterActions.forEach(function (callback) {
                        callback(parent, child, items);
                    });
                });
              }
          });
      }

      return Select2Cascade;

  })( window, $);

  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");

  slider.oninput = function() {
    var size = this.value;
    $('.chapter-meaning').css("font-size", size*1.2 + "rem");
    if (document.cookie.indexOf("settings=") >= 0) {
      var settings = JSON.parse(getCookie('settings'));
      var language = settings['language'];
      var theme = settings['theme'];
      setCookie('settings',JSON.stringify({font: size, language: language, theme: theme}),30);
    } else {
      setCookie('settings',JSON.stringify({font: size, language: "en", theme: "Light"}),30);
    }
  }

  function setCookie(name,value,days) {
      var expires = "";
      if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days*24*60*60*1000));
          expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "")  + expires + "; path=/";
  }

  function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
  }
  function eraseCookie(name) {
      document.cookie = name+'=; Max-Age=-99999999;';
  }
</script>
<script>
if (navigator.serviceWorker.controller) {
} else {
//Register the ServiceWorker
navigator.serviceWorker.register('radhakrishna.js', {
  scope: './'
}).then(function(reg) {
  // console.log('Service worker has been registered for scope:'+ reg.scope);
});
}
</script>
{% endblock %}
