{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">{{ _('Home') }}</a>
  <span class="breadcrumb-item active">{{ _('Privacy Policy') }}</span>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <h1>Bhagavad Gita Privacy Policy</h1>
      <p><b>1. Definitions and General Statement</b></p>
      <p>BhagavadGita.io (hereafter referred to as &#8220;we&#8221;, &#8220;us&#8221;, &#8220;our&#8221;) recognize the importance of protecting the privacy of Personal Information collected about our Users (hereafter referred to as &#8220;you&#8221;, &#8220;your&#8221;). We do not sell or otherwise disclose any individually identifiable Personal Information about you without your express and informed consent, unless required by law.</p>
      <p><b>2. Collection</b></p>
      <p>We collect statistical non-personally identifiable information from you in the form of usage data (for example, length of session, pages viewed, geographical location, etc.) for use as stated in the paragraph on &#8220;Usage&#8221; below.</p>
      <p><b>3. Cookies</b></p>
      <p>We do not use any hidden custom cookies of our own in our pages to collect any personal information about any one. However we use third-party advertising companies to serve ads and provides services. When you visit our website, these companies may use information (not including your name, address, email address, or telephone number) about your visits to this and other websites in order to provide advertisements about goods and services of interest to you.</p>
      <p><b>4. Usage</b></p>
      <p>We believe in protecting your privacy. To that end, we use &#8220;double opt-in&#8221; collection methods to allow you to choose to send us your information for specific, stated purposes. If you ever feel you have received an email from us in error, or wish to unsubscribe from an e-mail service you&#8217;ve signed up for, please contact us.</p>
      <p>We use statistical, non-identifiable user information in the aggregate (such as geographical location, pages viewed, browser type, etc.) for improving the usability of BhagavadGita.io.</p>
      <p>We use Personal Information such as your e-mail address to provide you with specifically requested services, such as e-mail news about our Site. We reserve the right to, on rare occasions but when necessary, send important e-mail announcements about BhagavadGita.io to all Users, such as but not limited to, changes in services, changes of terms, or major site upgrades.</p>
      <p>To unsubscribe from any service offered by BhagavadGita.io, you can contact us at any time.</p>
      <p><b>5. Third Parties</b></p>
      <p>We sometimes use statistical non-personally identifiable demographic information about our Users in the aggregate (such as the number of unique visitors to our site, hits, most visited pages, etc.) in connection with our marketing programs. However, we do not disclose identifiable Personal Information about you without your express consent, unless required by law. In addition, you may withdraw your consent at any time by contacting us.</p>
      <p><b>6. Children</b></p>
      <p>Children should always ask their parents or guardians for permission before providing any Personal Information to us. We expressly adhere to all laws and policies related to children&#8217;s privacy.</p>
      <p><b>7. Security</b></p>
      <p>We only collect Personal Information to the extent deemed reasonably necessary to serve our legitimate business purposes, and we use state-of-the-art security technology to ensure the security, integrity, safety, encryption, and privacy of any sensitive Personal Information.</p>
      <p>While we make all reasonable attempts to secure your Personal Information, we will not be held responsible for any involuntary breach of our security, and any actions by third parties resulting therefrom, such as but not limited to computer or internet hacking, equipment malfunction, acts of God, war, civil unrest, and any other causes beyond our reasonable control.</p>
      <p><b>8. Removal or Update of Personal Information</b></p>
      <p>You may update or remove your Personal Information from our records by contacting us.</p>
    </div>
  </div>
</div>

<style>
.jumbotron {
  background-image: url("/static/images/gita.jpg");
  background-size: cover;
}
.breadcrumb {
  margin-bottom: 0rem;
}
</style>
{% endblock %}
