{% import 'macros/page_macros.html' as page %} {% extends 'layouts/base.html' %} {% block title %}Reading Plans - Bhagavad
Gita{% endblock %} {% block meta_tags %}
<meta name="robots" content="noindex"> {% endblock %} {% block content %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">{{ _('Home') }}</a>
    <span class="breadcrumb-item active">{{ _('Reading Plans') }}</span>
</nav>

<div class="jumbotron" style="margin-top: -1rem;">
    <div class="container">
        <div class="text-white text-center d-flex align-items-center">
            <div class="py-5" style="width: 100%; padding-top: 8rem!important;">
                <h1 class="card-title pt-3 mb-5 font-bold">{{ _('READING PLANS') }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-bottom: 10vh;">
    <div class="row">
        <div class="col-md-12">
          {% if current_user.is_authenticated %}
            {% if message == 'delete' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Reading plan has been successfully deleted.</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <br>
            {% endif %}
            <div class="row">
                {% if plans != [] %}
                {% for plan in plans %}
                <div class="col-md-12" style="margin-bottom: 1rem">
                    <div class="card amber text-center z-depth-2 h-100">
                        <div class="card-body">
                            <h4 class="font-up font-bold white-text mt-2 mb-3">
                                <strong>{{plan.reading_plan_name}}</strong>
                            </h4>
                            <p>{{plan.reading_plan_description}}</p>
                            <p><b>Plan Duration</b> : {{plan.reading_plan_length}} days</p>
                            {% if user_plans != [] %}
                            {% for user_plan in user_plans %}
                            {% if plan.reading_plan_id == user_plan['reading_plan_id'] %}
                            {% if user_plan['status'] == 0 %}
                                {% if batch_list != [] %}
                                {% for batch in batch_list %}
                                {% if batch['user_reading_plan_id'] == user_plan['user_reading_plan_id'] %}
                                <a class="btn btn-warning waves-effect waves-light" href="/reading-plan/{{user_plan['user_reading_plan_id']}}/{{batch['batch_id']}}">Resume Reading</a>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                <a class="btn btn-danger waves-effect waves-light"  data-id="{{user_plan['user_reading_plan_id']}}" id="delete-plan">Delete Plan</a>
                            {% else %}
                                <i class="material-icons" style="font-size: 4rem; color: #F57C00">check_circle</i>
                                <br>
                                <h5 style="color: #F57C00">Reading Plan Complete</h5>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% else %}
                                <a class="btn btn-success waves-effect waves-light" href="/create-reading-plan/{{plan.reading_plan_id}}">Start Reading</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% else %}
            <div class="card warning-color text-center z-depth-2 h-100">
              <div class="card-body">
                <i class="material-icons" style="font-size: 10rem; color: #F57C00">book</i>
                <h3><strong>No Reading Plans yet.</strong></h3>
                <h5>Please login or create an account to be able to subscribe to reading plans.</h5>
              </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="text-center">
    <p>Please do let us know if you have ideas for any other reading plans.
        <a href="/contact/" style="color: #F57C00">Click Here</a> to contact us.</p>
</div>
<div class="modal fade" id="radhakrishnahanuman" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="radhakrishnaTitle">{{ _('Confirm Deletion') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p>Are you sure you want to delete this reading plan?</p>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-success btn-rounded waves-effect waves-light" id="yes">{{ _('Yes') }}</a>
        <a class="btn btn-warning btn-rounded waves-effect waves-light" data-dismiss="modal">{{ _('No') }}</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="radhakrishna" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center" style="border-bottom: none">
        <h5 class="modal-title w-100" id="radhakrishnaTitle">{{ _('Reading Plan Complete') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div align="center">
          <img src="/static/images/book.png" alt="Complete" height="100" width="100">
          <p></p>
          <br>
          <h5><b>Jai Shri Krishna!</b></h5>
          <p>You just completed reading the Bhagavad Gita.
            Now, it is time for you to implement these teachings in your life.</p>
          <h5><b>Best of luck!</b></h5>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    .jumbotron {
        background-image: url("/static/images/gita/bhagavadgita-2.jpg");
        background-size: cover;
    }

    .btn-rounded {
        border-radius: 10em;
    }

    h1 {
        text-shadow: -2px -2px 0 #FFBB33, 2px -2px 0 #FFBB33, -2px 2px 0 #FFBB33, 2px 2px 0 #FFBB33;
    }
</style>

<script>
    $('.alert').alert()

    if (window.location.pathname == '/reading-plans/complete') {
      $('#radhakrishna').modal()
    }

    $('#delete-plan').click(function(e) {
        e.preventDefault()
        $('#radhakrishnahanuman').modal('show');
    })

    $('#yes').click(function(e) {
        e.preventDefault()
        var id = $('#delete-plan').data("id")
        delete_plan(id)
    })

    function delete_plan(user_reading_plan_id) {
      axios.get("/delete-plan/" + user_reading_plan_id + '/')
      .then(function (response) {
          window.location.href = "/reading-plans/delete"
        })
    }
</script>
{% endblock %}
