{% extends 'layouts/base.html' %}

{% block content %}
<div class="jumbotron">
    <div class="container">
      <div class="text-white text-center d-flex align-items-center">
        <div class="py-5" style="width: 100%; padding-top: 8rem!important;">
          <h1 class="card-title pt-3 mb-5 font-bold">BHAGAVAD GITA</h1>
          <a class="btn krishna-gradient btn-rounded waves-effect waves-light">Explore</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card orange lighten-3 text-center z-depth-2 h-100">
          <div class="card-body">
              <h4 class="font-up font-bold mt-2 mb-3"><strong>BG - Chapter {{verse.chapter_number}}, Verse {{verse.verse_number}}</strong></h4>
              <hr>
              <div class="sanskrit-text" align="center" style="margin-bottom: -5rem;">
                <p style="font-size: 1.5rem;"><b>{{verse.text  | replace('"', "")}}</b></p>
              </div>
              <div class="transliteration" align="center" style="margin-bottom: -5rem; font-family: Noto Serif;">
                <p style="font-size: 1.2rem;"><i>{{verse.transliteration  | replace('"', "")}}</i></p>
              </div>
              <div class="word-meanings" align="center" style="margin-bottom: -1rem; font-family: Noto Serif;">
                <p style="font-size: 1.2rem;"><i>dhṛtarāṣṭraḥ uvāca — King Dhṛtarāṣṭra said; dharma-kṣetre — in the place of pilgrimage; kuru-kṣetre — in the place named Kurukṣetra; samavetāḥ — assembled; yuyutsavaḥ — desiring to fight; māmakāḥ — my party (sons); pāṇḍavāḥ — the sons of Pāṇḍu; ca — and; eva — certainly; kim — what; akurvata — did they do; sañjaya — O Sañjaya.</i></p>
              </div>
              <h4><b><u>Translation</u></b></h4>
              <div class="meaning_english" align="center" style="margin-bottom: -5rem; margin-top: -2rem;">
                <p style="font-size: 1rem;"><b>{{verse.meaning_english  | replace('"', "")}}</b></p>
              </div>
              <br>
              <p></p>
              <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{verse.chapter_number}}/verse/{{previous_verse_number}}" style="float: left;"><i class="fa fa-arrow-left"></i> PREVIOUS VERSE</a>
              <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{verse.chapter_number}}/verse/{{next_verse_number}}" style="float: right;">NEXT VERSE <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
  .jumbotron {
    background-image: url("/static/images/bhagavadgita.jpeg");
    background-size: cover;
    height: 80vh;
  }
  .hanuman-gradient-text[data-color="hanuman-gradient"][data-direction="horizontal"] * {
    background-image: linear-gradient(to right,#ff4f0f,#fd8e26);
  }
  .hanuman-gradient-text[data-color="hanuman-gradient"] *, .list-icon-holder[data-icon_type="numerical"] span {
    color: #ff4f0f;
    background: linear-gradient(to bottom right,#ff4f0f,#fd8e26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block;
  }
  .btn-rounded {
      border-radius: 10em;
  }
  a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.card .btn-action {
    margin: -23px 20px;
    margin-left: auto;
    background-color: #ffb300;
    height: 47px;
    width: 47px;
    line-height: 0;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}

.btn-floating {
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    width: 47px;
    height: 47px;
    padding: 0;
    border-radius: 50%;
    margin: 10px;
    background-color: #a6c;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.card .btn-action .fa.fa-chevron-right {
    margin-top: 2px;
    margin-left: 2px;
}

.card .btn-action .fa {
    font-size: 18px;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    font-size: 1.25rem;
    line-height: 47px;
    text-align: center;
}

.sanskrit-text, .transliteration, .word-meanings, .meaning_english {
  white-space: pre-wrap;
}
  </style>
{% endblock %}
