{% extends 'layouts/base.html' %}
{% block title %} {{ _('Bhagavad Gita') }} {{ _('Chapter') }} {{chapter.chapter_number}} {{ _('Verse') }} {{verse.verse_number}} - BhagavadGita.io {% endblock %}

{% block meta_tags %}
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ _('Bhagavad Gita') }} {{ _('Chapter') }} {{chapter.chapter_number}} {{ _('Verse') }} {{verse.verse_number}} - BhagavadGita.io" />
        <meta property="og:url" content="https://bhagavadgita.io{{request.path}}" />
        <meta property="og:site_name" content="Bhagavad Gita" />
        <meta property="article:publisher" content="https://www.facebook.com/radhakrishnablog/" />
        <meta property="article:tag" content="Krishna" />
        <meta property="article:tag" content="Bhagavad Gita" />
        <meta property="article:tag" content="Bhagwad Gita" />
        <meta property="article:section" content="Bhagavad Gita" />
        {% set img = range(1, 5) | random %}
        <meta property="og:image" content="https://bhagavadgita.io/static/images/gita/bhagavadgita-{{img}}.jpg" />
        <meta property="og:image:secure_url" content="https://bhagavadgita.io/static/images/gita/bhagavadgita-{{img}}.jpg" />
        <meta property="og:image:width" content="1920" />
        <meta property="og:image:height" content="1080" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{ _('Bhagavad Gita') }} {{ _('Chapter') }} {{chapter.chapter_number}} {{ _('Verse') }} {{verse.verse_number}} - BhagavadGita.io" />
        <meta name="twitter:image" content="https://bhagavadgita.io/static/images/gita/bhagavadgita-{{img}}.jpg" />

        <link rel="alternate" hreflang="en" href="https://bhagavadgita.io{{request.path | replace("/hi/", "")}}" />
        <link rel="alternate" hreflang="en-us" href="https://bhagavadgita.io{{request.path | replace("/hi/", "")}}" />
        <link rel="alternate" hreflang="en-gb" href="https://bhagavadgita.io{{request.path | replace("/hi/", "")}}" />
        <link rel="alternate" hreflang="en-in" href="https://bhagavadgita.io{{request.path | replace("/hi/", "")}}" />
        <link rel="alternate" hreflang="hi" href="https://bhagavadgita.io{{request.path | replace("/hi/", "/")}}hi/" />

        <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "https://bhagavadgita.io",
                    "name": "Home"
                }
            },
            {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https://bhagavadgita.io/chapter/{{chapter.chapter_number}}?page=1",
                    "name": "{{config.APP_NAME}} Chapter {{chapter.chapter_number}}",
                    "image": "https://bhagavadgita.io/static/images/sribhagavadgita.jpg"
                }
            },
            {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@id": "https://bhagavadgita.io{{request.path}}",
                    "name": "{{config.APP_NAME}} Chapter {{chapter.chapter_number}} Verse {{verse.verse_number}}",
                    "image": "https://bhagavadgita.io/static/images/sribhagavadgita.jpg"
                }
            }
        ]
        }</script>
{% endblock %}

{% block content %}
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">{{ _('Home') }}</a>
    <a class="breadcrumb-item" href="/chapter/{{chapter.chapter_number}}/?page=1">{{ _('Chapter') }} {{chapter.chapter_number}}</a>
    <span class="breadcrumb-item active">{{ _('Verse') }} {{verse.verse_number}}</span>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card orange lighten-3 text-center z-depth-2 h-100" id="verse-card">
          <div class="card-body">
            <h4 class="font-up font-bold mt-2" style="font-size: 2rem; font-family: samarkan"><strong>{{ _('Chapter') }} {{verse.chapter_number}}, {{ _('Verse') }} {{verse.verse_number}}</strong></h4>
            <div>
            {% if batch_id != None and user_reading_plan_id != None %}
              {% if batch_no > 1 %}
              <a class="btn btn-warning btn-rounded waves-effect waves-light previous-btn"
              style="float: left; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 1rem;">
              <i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i></a>
              {% else %}
              <a class="btn btn-warning btn-rounded waves-effect waves-light"
              href="/reading-plan/{{user_reading_plan_id}}/{{batch_id}}"
              style="float: left; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 1rem;">
              <i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i></a>
              {% endif %}

              <a class="btn btn-success btn-rounded waves-effect waves-light next-btn"
              style="float: right; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 1rem;">
              <i class="fa fa-arrow-right" style="font-size: 0.7rem;"></i></a>

            {% else %}
              {% if previous_verse != None %}
              <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{verse.chapter_number}}/verse/{{previous_verse.verse_number}}/"
 style="float: left; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 1rem;">
                <i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i></a>
              {% else %}

                {% set previous_chapter = chapter.chapter_number - 1 %}
                {% if previous_chapter == 0 %}
  <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/" style="float: left; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 1rem;">
                  <i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i></a>
                {% else %}
  <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{previous_chapter}}/?page=1" style="float: left; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 1rem;">
                  <i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i></a>
                {% endif %}
              {% endif %}

              {% if next_verse != None %}
              <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{verse.chapter_number}}/verse/{{next_verse.verse_number}}/"
                style="float: right; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 1rem;">
                <i class="fa fa-arrow-right" style="font-size: 0.7rem;"></i>
              </a>
              {% else %} {% set next_chapter = chapter.chapter_number + 1 %} {% if next_chapter == 19 %}
<a class="btn btn-warning btn-rounded waves-effect waves-light" href="/" style="float: right; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 1rem;">
                <i class="fa fa-arrow-right" style="font-size: 0.7rem;"></i>
              </a>
              {% else %}
<a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{next_chapter}}/?page=1" style="float: right; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 1rem;">
                <i class="fa fa-arrow-right" style="font-size: 0.7rem;"></i>
              </a>
              {% endif %}
              {% endif %}

            {% endif %}

            {% if current_user.is_authenticated %}
            {% if read == True %}
              <a class="btn btn-warning btn-rounded waves-effect waves-light" style="font-size: 0.7rem; padding: 0.5rem 1.10rem; margin-top: 1.4rem; box-shadow: none">
                <i class="fa fa-check" style="font-size: 1rem;"></i> Read</a>
            {% else %}
              <a class="btn btn-warning btn-rounded waves-effect waves-light" style="font-size: 0.7rem; padding: 0.5rem 1.10rem; margin-top: 1.4rem; box-shadow: none">
                 Reading</a>
            {% endif %}
            {% endif %}
          </div>

              <hr>
              <div class="text-center" id="sharebtn">
                <div class="sharethis-inline-share-buttons"></div>
              </div>
              <br>
              <div class="sanskrit-text" align="center" style="margin-top: -2rem;">
                <p style="font-size: 1.4rem;" class="verse-sanskrit"><b>{{verse.text  | replace('"', "")}}</b></p>
              </div>

              <div id="favouriteverse">
                <a class="btn btn-warning btn-rounded waves-effect waves-light" aria-haspopup="true" id="favourite" data-value="0" title="Mark as favourite" onclick="favorite()" style="font-size: 0.7rem; padding: 0.5rem 0.7rem; margin-top: -3rem;">
                  <i class="material-icons" style="font-size: 1.2rem;">favorite_border</i>
                </a>
              </div>

              {% if language == "en" %}
                <h5 class="heading"><b><u>{{ _('Transliteration') }}</u></b></h5>
                <div class="transliteration" align="center" style="font-family: Noto Serif;">
                  <p style="font-size: 1.4rem;" class="verse-transliteration"><i>{{verse.transliteration  | replace('"', "")}}</i></p>
                </div>
              {% endif %}
              <h5 class="heading"><b><u>{{ _('Word Meanings') }}</u></b></h5>
              <div class="word-meanings" align="center" style="font-family: Noto Serif;">
                <p style="font-size: 1.2rem;" class="verse-word"><i>{{verse.word_meanings  | replace('"', "")}}</i></p>
              </div>
              <h5 class="heading"><b><u>{{ _('Translation') }}</u></b></h5>
              <br>
              <div class="meaning" align="center" style="margin-top: -2rem;">
                <p style="font-size: 1.2rem;" class="verse-meaning">{{verse.meaning  | replace('"', "")}}</p>
              </div>
              {% if verse.meaning_large != "" and verse.meaning_large != "null" %}
                <h5 class="heading" style="margin-bottom: -16px;"><b><u>{{ _('Purport') }}</u></b></h5>
                <br>
                {% set meaning = verse.meaning_large | replace('"', "") %}
                {% set meaning = meaning.split('\n') %}
                <div class="meaning_large" align="center">
                  {% for i in range(meaning | length) %}
                  <p style="font-size: 1.2rem;" class="verse-meaning-large">{{meaning[i]}}</p>
                  {% endfor %}
                </div>
              {% endif %}
              <br>
              <p></p>

              {% if batch_id != None and user_reading_plan_id != None %}
                {% if batch_no > 1 %}
                <a class="btn btn-warning btn-rounded waves-effect waves-light previous-btn"
                style="float: left; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 0;">
                <i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i></a>
                {% else %}
                <a class="btn btn-warning btn-rounded waves-effect waves-light"
                href="/reading-plan/{{user_reading_plan_id}}/{{batch_id}}"
                style="float: left; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 0;">
                <i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i></a>
                {% endif %}

                <a class="btn btn-success btn-rounded waves-effect waves-light next-btn"
                style="float: right; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 0;">
                <i class="fa fa-arrow-right" style="font-size: 0.7rem;"></i></a>

              {% else %}

                {% if previous_verse != None %}
                  <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{verse.chapter_number}}/verse/{{previous_verse.verse_number}}/" style="float: left; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 0;"><i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i></a>
                {% else %}
                  {% set previous_chapter = chapter.chapter_number - 1 %}
                  {% if previous_chapter == 0 %}
                    <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/" style="float: left; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 0;"><i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i></a>
                  {% else %}
                    <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{previous_chapter}}/?page=1" style="float: left; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 0;"><i class="fa fa-arrow-left" style="font-size: 0.7rem;"></i></a>
                  {% endif %}
                {% endif %}

                {% if next_verse != None %}
                <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{verse.chapter_number}}/verse/{{next_verse.verse_number}}/" style="float: right; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 0;"><i class="fa fa-arrow-right" style="font-size: 0.7rem;"></i></a>
                {% else %}
                  {% set next_chapter = chapter.chapter_number + 1 %}
                  {% if next_chapter == 19 %}
                    <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/" style="float: right; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 0;"><i class="fa fa-arrow-right" style="font-size: 0.7rem;"></i></a>
                  {% else %}
                    <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/chapter/{{next_chapter}}/?page=1" style="float: right; font-size: 0.7rem; padding: 0.7rem 1.13rem; margin-top: 0;"><i class="fa fa-arrow-right" style="font-size: 0.7rem;"></i></a>
                  {% endif %}
                {% endif %}
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="radhakrishna" tabindex="-1" role="dialog" aria-labelledby="radhakrishnaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="radhakrishnaTitle">{{ _('Language') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <div>
            <select class="js-example-basic-single" id="languages" name="state" style="width: 100%;">
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">{{ _('Close') }}</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="radhakrishnahanuman" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="radhakrishnaTitle">{{ _('Please Login.') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <div>
          <p>You need to be a registered Bhagavad Gita user to be able to favourite posts. Please "Log In" or "Register" using the links below.</p>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/account/login">{{ _('Log In') }}</a>
        <a class="btn btn-warning btn-rounded waves-effect waves-light" href="/account/register">{{ _('Register') }}</a>
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="hanuman" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="hanumanTitle">{{ _('Settings') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <h5>
            <b>{{ _('Font Size') }}</b>
          </h5>
          <div class="slidecontainer">
            <input type="range" min="0.5" max="2" value="1.0" step="0.1" class="slider" id="myRange">
          </div>
          <br>
          <h5>
            <b>{{ _('Theme') }}</b>
          </h5>
          <div>
            <select class="js-example-basic-single" id="theme" name="theme" style="width: 100%;">
              <option value="Light">Light</option>
              <option value="Dark">Dark</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">{{ _('Close') }}</button>
        </div>
      </div>
    </div>
  </div>

  <style>
  body {
    background-color: #E9ECEF;
  }

  @font-face {
    font-family: 'Samarkan';
    src: url('/static/font/samarkan.woff') format('woff'),
     url('/static/font/samarkan.woff') format('truetype');
  }

  .jumbotron {
    background-image: url("/static/images/bhagavadgita.jpeg");
    background-size: cover;
    height: 80vh;
  }
  .hanuman-gradient-text[data-color="hanuman-gradient"][data-direction="horizontal"] * {
    background-image: linear-gradient(to right,#ff4f0f,#fd8e26);
  }
  .hanuman-gradient-text[data-color="hanuman-gradient"] *, .list-icon-holder[data-icon_type="numerical"] span {
    color: #ff4f0f;
    background: linear-gradient(to bottom right,#ff4f0f,#fd8e26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: inline-block;
  }
  .btn-rounded {
      border-radius: 10em;
  }
  a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.card .btn-action {
    margin: -23px 20px;
    margin-left: auto;
    background-color: #ffb300;
    height: 47px;
    width: 47px;
    line-height: 0;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}

.btn-floating {
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    width: 47px;
    height: 47px;
    padding: 0;
    border-radius: 50%;
    margin: 10px;
    background-color: #a6c;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.card .btn-action .fa.fa-chevron-right {
    margin-top: 2px;
    margin-left: 2px;
}

.card .btn-action .fa {
    font-size: 18px;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    font-size: 1.25rem;
    line-height: 47px;
    text-align: center;
}

.sanskrit-text, .transliteration, .word-meanings, .meaning {
  white-space: pre-wrap;
}

.select2 .selection .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
    height: 2.05rem;
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
}

.select2-results__option {
    color: #66bb6a;
    padding: 8px 16px;
    font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eee !important;
    color: #66bb6a !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #e1e1e1 !important;
}

.select2-dropdown {
    border: none !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.select2-container--default .select2-results__option[role=group] .select2-results__group {
    background-color: #333333;
    color: #fff;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
}

.select2-container .select2-search--inline .select2-search__field:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.select2-container .select2-selection--multiple {
    min-height: 2.05rem !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #ddd !important;
    color: rgba(0,0,0,0.26);
    border-bottom: 1px dotted rgba(0,0,0,0.26);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #FF9800 !important;
}

.select2-results__option {
    color: #FF9800;
}

input[type=search]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #FF9800;
  box-shadow: 0 1px 0 0 #FF9800;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FDB22B;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FDB22B;
    cursor: pointer;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

#verse-card {
  margin-bottom: 1rem;
}

.card .card-body h5 {
  margin-bottom: -1rem;
  font-size: 1.4rem;
}

#verse-card > div > div.meaning_large > p {
  font-family: Noto serif;
}

#verse-card > div > div.meaning > p {
  font-family: Noto serif;
}

.btn-warning { background-color: #ffa726!important; color: #fff!important; }

.btn {
  text-transform: none;
}

.breadcrumb {
  display: none
}

.container {
  margin-top: 4.5rem
}

.btn-success {
    background-color: #4CAF50!important;
    color: #fff!important;
}
  </style>

<script>
  if ({{current_user.is_authenticated|tojson}} === true) {
        console.log("RadhaKrishnaHanuman")
        get_favourite({{verse.chapter_number}},"{{verse.verse_number}}")
      }
  $(document).ready(function() {
    if (document.cookie.indexOf("settings=") >= 0) {
      var settings = JSON.parse(getCookie('settings'));
      if (settings['font']) {
        $('.verse-sanskrit').css("font-size", settings['font']*1.4 + "rem");
        $('.verse-transliteration').css("font-size", settings['font']*1.4 + "rem");
        $('.verse-meaning').css("font-size", settings['font']*1.2 + "rem");
        $('.verse-meaning-large').css("font-size", settings['font']*1.2 + "rem");
        $('.verse-word').css("font-size", settings['font']*1.2 + "rem");
        $('.heading').css("font-size", settings['font']*1.17 + "rem");
        $('#myRange').val(settings['font']);
      }
      if (settings['theme']) {
        $('#theme').val(settings['theme']);
        $('#theme').trigger('change.select2');
      }
    }

      var ua = navigator.userAgent.toLowerCase();
      var isAndroid = ua.indexOf("bhagavadgita") > -1;
      if (isAndroid) {
        console.log("RadhaKrishna")

        $('#sharebtn').remove();

        var text = `Bhagavad Gita - {{ _('Chapter') }} {{verse.chapter_number}}, {{ _('Verse') }} {{verse.verse_number}} \n{{verse.text  | replace('"', "")}} \n{{verse.meaning  | replace('"', "")}} \nShared via the Bhagavad Gita app. Download Now - \nhttps://play.google.com/store/apps/details?id=com.hanuman.bhagavadgita`
        text = window.encodeURIComponent(text)
        var whatsapp = 'whatsapp://send?text=' + text
        document.getElementById("whatsappbtn").href = whatsapp;

        var text = `Bhagavad Gita - {{ _('Chapter') }} {{verse.chapter_number}}, {{ _('Verse') }} {{verse.verse_number}} \n{{verse.meaning  | replace('"', "")}} \nShared via the Bhagavad Gita app. Download Now - \nhttps://play.google.com/store/apps/details?id=com.hanuman.bhagavadgita`
        text = window.encodeURIComponent(text)
        var twitter = `https://twitter.com/intent/tweet?text=` + text
        document.getElementById("twitterbtn").href = twitter;

        var facebook = `https://www.facebook.com/dialog/share?app_id=153654658590446&display=popup&href=https://bhagavadgita.io/chapter/{{verse.chapter_number}}/verse/{{verse.verse_number}}&redirect_uri=https://bhagavadgita.io`
        document.getElementById("facebookbtn").href = facebook;

      } else {
        console.log("RadhaKrishnaHanuman")
      }

    $('.js-example-basic-single').select2();

    var languages = $('#languages');

    axios.get('/languages')
    .then(function (response) {
      for (const [key, value] of Object.entries(response.data)) {
        var option = $("<option></option>").
             attr('selected', false).
             text(value).
             val(key);
        option.appendTo(languages);
      }
      if (settings) {
        if (settings['language']) {
          languages.val(settings['language']);
        }
      }
      languages.trigger('change.select2');
    })
    .catch(function (error) {
      console.log(error);
    });

    $('#languages').on("change", function (e) {
      language = $( "#languages option:selected" ).val();
      if (language === "en") {
        window.location.href = "{{request.path}}".slice(0,-3);
      } else {
        window.location.href = "{{request.path}}" + language + '/';
      }
      if (document.cookie.indexOf("settings=") >= 0) {
        var settings = JSON.parse(getCookie('settings'));
        var size = settings['font'];
        var theme = settings['theme'];
        setCookie('settings',JSON.stringify({font: size, language: language, theme: theme}),30);
      } else {
        setCookie('settings',JSON.stringify({font: 1, language: "en", theme: "Light"}),30);
      }
    })

    $('#theme').on("change", function (e) {
      theme = $( "#theme option:selected" ).val();
      if (theme === "Dark") {
        $('body').append(`<style id="dark">body{color:#fff;background-color:#121212}.amber.darken-2,.card,.card-body,.modal-content{background-color:#232323!important}.card .card-text{color:#BDBDBD}hr{border-top:1px solid #616161}.sidenav{background-color:#1C1C1C}.sidenav li>a{color:#fff}#mobile-demo>li>a.active,.sidenav .collapsible-header:hover,.sidenav li>a:hover{background-color:#474747}.dropdown-menu{background-color:#1C1C1C}.navbar .dropdown-menu a{color:#fff!important}.navbar .dropdown-menu a:hover{background-color:#474747;color:#fff!important}.select2-container--default .select2-selection--single{background-color:#474747}#email,#first_name,#last_name,#password,#password2,.close,.close:hover,.modal-content,.pagination a,.select2-container--default .select2-selection--single .select2-selection__rendered{color:#fff}.modal-footer{border-top:none!important}</style>`)
      } else {
        console.log("RadhaKrishna")
        $('#dark').remove()
      }

      if (document.cookie.indexOf("settings=") >= 0) {
        var settings = JSON.parse(getCookie('settings'));
        var size = settings['font'];
        var lang = settings['language'];
        setCookie('settings',JSON.stringify({font: size, language: lang, theme: theme}),30);
      } else {
        setCookie('settings',JSON.stringify({font: 1, language: "en", theme: theme}),30);
      }
    })
  });

    var slider = document.getElementById("myRange");

    slider.oninput = function() {
      var size = this.value;
      $('.verse-sanskrit').css("font-size", size*1.4 + "rem");
      $('.verse-transliteration').css("font-size", size*1.4 + "rem");
      $('.verse-meaning').css("font-size", size*1.2 + "rem");
      $('.verse-meaning-large').css("font-size", size*1.2 + "rem");
      $('.verse-word').css("font-size", size*1.2 + "rem");
      $('.heading').css("font-size", size*1.17 + "rem");
      if (document.cookie.indexOf("settings=") >= 0) {
        var settings = JSON.parse(getCookie('settings'));
        var language = settings['language'];
        var theme = settings['theme'];
        setCookie('settings',JSON.stringify({font: size, language: language, theme: theme}),30);
      } else {
        setCookie('settings',JSON.stringify({font: size, language: "en", theme: "Light"}),30);
      }
    }

    function favorite() {
      if ({{current_user.is_authenticated|tojson}} === true) {
        if ($('#favourite').data("value") === 0) {
          favourite({{verse.chapter_number}},"{{verse.verse_number}}", 1)
          $('#favouriteverse').empty()
          $('#favouriteverse').append(`<a class="btn btn-warning btn-rounded waves-effect waves-light" aria-haspopup="true" id="favourite" onclick="favorite()"  title="Mark as favourite" data-value="1" style="font-size: 0.7rem; padding: 0.5rem 0.7rem; margin-top: -4rem;"><i class="material-icons" style="font-size: 1.2rem;">favorite</i></a>`)
        } else {
          favourite({{verse.chapter_number}},"{{verse.verse_number}}", 0)
          $('#favouriteverse').empty()
          $('#favouriteverse').append(`<a class="btn btn-warning btn-rounded waves-effect waves-light" aria-haspopup="true" id="favourite" onclick="favorite()"  title="Mark as favourite" data-value="0" style="font-size: 0.7rem; padding: 0.5rem 0.7rem; margin-top: -4rem;"><i class="material-icons" style="font-size: 1.2rem;">favorite_border</i></a>`)
          }
      } else {
        $('#radhakrishnahanuman').modal('show'); }
    }

    function favourite(chapter_number, verse_number, value) {
      axios.get("/favourite/" + chapter_number + "/" + verse_number + "/" + value + "/")
      .then(function (response) {
          if (response.data.length > 0) {
            $('body').append(`<div class="modal fade" id="vrindavan` + response.data[0].badge_id + `" tabindex="-1" role="dialog" aria-hidden="true"> <div class="modal-dialog modal-dialog-centered" role="document"> <div class="modal-content"> <div class="modal-header text-center" style="border-bottom: none"> <h5 class="modal-title w-100" id="vrindavanTitle">{{_('Achievement Unlocked')}}</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div><div class="modal-body"> <div align="center"> <img src="` + response.data[0].badge_image + `" alt="Complete" height="100" width="100"> <h5>` + response.data[0].badge_name + `</h5> <br><p>` + response.data[0].badge_description + `</p><p> <b>Jai Shri Krishna!</b> </p></div></div></div></div></div>`)
            const badge_list = response.data
            if (badge_list != []) {
              for (const s of badge_list) {
                var vrindavan = '#vrindavan' + response.data[0].badge_id
                $(vrindavan).modal()
              }
            }
          }
      })
    }

    function get_favourite(chapter_number, verse_number) {
      console.log("/get-favourite/" + chapter_number + "/" + verse_number + "/")
      axios.get("/get-favourite/" + chapter_number + "/" + verse_number + "/")
      .then(function (response) {
          console.log(response)
          if (response.data === "True") {
            $('#favouriteverse').empty()
            $('#favouriteverse').append(`<a class="btn btn-warning btn-rounded waves-effect waves-light"  title="Mark as favourite" aria-haspopup="true" id="favourite" onclick="favorite()" data-value="1" style="font-size: 0.7rem; padding: 0.5rem 0.7rem; margin-top: -4rem;"><i class="material-icons" style="font-size: 1.2rem;">favorite</i></a>`)
          } else {
            $('#favouriteverse').empty()
            $('#favouriteverse').append(`<a class="btn btn-warning btn-rounded waves-effect waves-light"  title="Mark as favourite" aria-haspopup="true" id="favourite" onclick="favorite()" data-value="0" style="font-size: 0.7rem; padding: 0.5rem 0.7rem; margin-top: -4rem;"><i class="material-icons" style="font-size: 1.2rem;">favorite_border</i></a>`)
          }
        })
    }

    $('.next-btn').click(function(e) {
      e.preventDefault();
      next_verse("{{user_reading_plan_id}}", {{batch_id}}, {{verse.chapter_number}}, "{{verse.verse_number}}")
    })

    $('.previous-btn').click(function(e) {
      e.preventDefault();
      previous_verse("{{user_reading_plan_id}}", {{batch_id}}, {{verse.chapter_number}}, "{{verse.verse_number}}")
    })


    function next_verse(user_reading_plan_id, batch_id, chapter_number, verse_number) {
      axios.get("/get-next-verse/" + user_reading_plan_id + '/' + batch_id + '/' + chapter_number + "/" + verse_number + "/")
      .then(function (response) {
          console.log(response['data']['chapter_number'])
          if (response.data === "None") {
            window.location.href = "/reading-plan/{{user_reading_plan_id}}/{{batch_id}}"
          } else {
            window.location.href = '/chapter/' + response['data']['chapter_number'] + "/verse/" + response['data']['verse_number'] + '/' + user_reading_plan_id + '/batch/' + batch_id + '/batch_total/' + {{batch_total}} + '/batch_no/' + ({{batch_no}} + 1) + '/';
          }
        })
    }

    function previous_verse(user_reading_plan_id, batch_id, chapter_number, verse_number) {
      axios.get("/get-previous-verse/" + user_reading_plan_id + '/' + batch_id + '/' + chapter_number + "/" + verse_number + "/")
      .then(function (response) {
          console.log(response['data']['chapter_number'])
          if (response.data === "None") {
            window.location.href = "/reading-plan/{{user_reading_plan_id}}/{{batch_id}}"
          } else {
            window.location.href = '/chapter/' + response['data']['chapter_number'] + "/verse/" + response['data']['verse_number'] + '/' + user_reading_plan_id + '/batch/' + batch_id + '/batch_total/' + {{batch_total}} + '/batch_no/' + ({{batch_no}} - 1) + '/';
          }
        })
    }
  </script>
  <script>
if (navigator.serviceWorker.controller) {
} else {
  //Register the ServiceWorker
  navigator.serviceWorker.register('radhakrishna.js', {
    scope: './'
  }).then(function(reg) {
    // console.log('Service worker has been registered for scope:'+ reg.scope);
  });
}
  </script>
{% endblock %}
