@media -sass-debug-info{filename{}line{font-family:\0000312}}
.ui.fixed.main.menu .right.menu > .item:last-of-type {
  border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

@media -sass-debug-info{filename{}line{font-family:\0000318}}
nav .mobile.only.row .ui.vertical.menu {
  margin-top: 40px;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\0000325}}
.flashes > .ui.message:last-of-type {
  margin-bottom: 2rem;
}

@media -sass-debug-info{filename{}line{font-family:\0000330}}
table.selectable tr:hover {
  cursor: pointer !important;
}

/**
 * @file
 * Main stylesheet file.
 */
/*****************************************************************************
 * Main elements
 ****************************************************************************/
@media -sass-debug-info{filename{}line{font-family:\0000344}}
html {
  overflow-y: scroll;
}

@media -sass-debug-info{filename{}line{font-family:\0000347}}
a {
  cursor: pointer;
}

@media -sass-debug-info{filename{}line{font-family:\0000350}}
::selection {
  background: #555;
  color: #FFF;
}

@media -sass-debug-info{filename{}line{font-family:\0000354}}
::-moz-selection {
  background: #555;
  color: #FFF;
}

@media -sass-debug-info{filename{}line{font-family:\0000358}}
::-webkit-selection {
  background: #555;
  color: #FFF;
}

@media -sass-debug-info{filename{}line{font-family:\0000362}}
main {
  margin-top: 3rem;
}

/* Main elements end */
/*****************************************************************************
 * Various other styles
 ****************************************************************************/
@media -sass-debug-info{filename{}line{font-family:\0000372}}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

@media -sass-debug-info{filename{}line{font-family:\0000377}}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

@media -sass-debug-info{filename{}line{font-family:\0000381}}
.form-signin .checkbox {
  font-weight: 400;
}

@media -sass-debug-info{filename{}line{font-family:\0000384}}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

@media -sass-debug-info{filename{}line{font-family:\0000391}}
.form-signin .form-control:focus {
  z-index: 2;
}

@media -sass-debug-info{filename{}line{font-family:\0000394}}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media -sass-debug-info{filename{}line{font-family:\0000399}}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media -sass-debug-info{filename{}line{font-family:\00003105}}
.invalid-feedback {
  display: block;
}

@media -sass-debug-info{filename{}line{font-family:\00003109}}
.krishna-gradient {
  background: -webkit-linear-gradient(50deg, #F57C00, #FFC107);
  background: linear-gradient(40deg, #F57C00, #FFC107);
}

@media -sass-debug-info{filename{}line{font-family:\00003114}}
.hanuman-gradient {
  background: -webkit-linear-gradient(50deg, #FF9800, #FFC107);
  background: linear-gradient(40deg, #FF9800, #FFC107);
}

@media -sass-debug-info{filename{}line{font-family:\00003119}}
.icons-sm {
  padding: .5rem;
  margin: .5rem;
  font-size: 1.2rem;
}

@media -sass-debug-info{filename{}line{font-family:\00003125}}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

@media -sass-debug-info{filename{}line{font-family:\00003131}}
.btn-rounded {
  border-radius: 10em;
}

@media -sass-debug-info{filename{}line{font-family:\00003135}}
.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

@media -sass-debug-info{filename{}line{font-family:\00003141}}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media -sass-debug-info{filename{}line{font-family:\00003147}}
.form-gradient .font-small {
  font-size: 0.8rem;
}

@media -sass-debug-info{filename{}line{font-family:\00003151}}
.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

@media -sass-debug-info{filename{}line{font-family:\00003157}}
.btn-youtube {
  color: #fff;
  background-color: #FC0D1B;
  border-color: rgba(0, 0, 0, 0.2);
}

@media -sass-debug-info{filename{}line{font-family:\00003163}}
a.breadcrumb-item {
  color: #FD9F28 !important;
}

@media -sass-debug-info{filename{}line{font-family:\00003167}}
.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 1em;
  display: none;
}

@media -sass-debug-info{filename{}line{font-family:\00003179}}
.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

@media -sass-debug-info{filename{}line{font-family:\00003183}}
.nav-pills .nav-link.active {
  background-color: #FD9F28;
}

@media -sass-debug-info{filename{}line{font-family:\00003187}}
input[type=email]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label {
  color: #ff6d00 !important;
}

@media -sass-debug-info{filename{}line{font-family:\00003191}}
input[type=email]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ff6d00 !important;
  box-shadow: 0 1px 0 0 #ff6d00 !important;
}

@media -sass-debug-info{filename{}line{font-family:\00003196}}
.alert {
  margin-bottom: 0;
}