* {
  font-family: 'Poppins', BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

.sam-Header {
  text-transform: uppercase;
  font-size: 13px !important;
  font-weight: 700 !important; }

.sam-Button {
  font-family: 'Poppins', BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  height: 35px;
  line-height: 35px;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: .03em;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 0 14px;
  color: #666; }

::selection {
  background: #FF4F19;
  color: #fff; }

::-moz-selection {
  background: #FF4F19;
  color: #fff; }

main {
  position: relative;
  overflow: hidden;
  display: block; }

.avatar {
  margin: auto; }
  .avatar img {
    border-radius: 50%; }

.MainMenu {
  z-index: 99;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); }
  .MainMenu-Products .product-icon {
    max-height: 128px; }
  .MainMenu-Products .media-content {
    margin: auto 0; }

.card {
  border-radius: 4px; }
  .card .content {
    font-size: 0.8rem; }
  .card .card-footer-item {
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 13px;
    height: 35px;
    line-height: 35px;
    font-weight: 500;
    color: #666; }

.PollyMember figure {
  margin-bottom: 20px; }

.ProductCard .title {
  margin-bottom: 5px; }

.ProductCard .content {
  color: #333; }

.ProductCard figure {
  margin: 0 auto;
  padding-top: 12px; }

.ProductCard:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }

.section-header {
  padding-bottom: 20px; }

.has-horizontal-scroll {
  position: relative;
  margin: 50px 0; }
  .has-horizontal-scroll .level {
    margin-left: 0.75rem; }

.scrolling-wrapper-flexbox {
  padding: 10px 30px;
  display: flex;
  flex-wrap: nowrap;
  overflow: visible;
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch; }
  .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none; }
  .scrolling-wrapper-flexbox .feature-card {
    z-index: 9;
    background: white;
    flex: 0 0 auto;
    padding: 30px 16px;
    margin-right: 2%;
    border: 1px solid white;
    width: 23.5%;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #dedede;
    box-shadow: 0px 0px 8px #dedede;
    text-align: center;
    position: relative; }
    .scrolling-wrapper-flexbox .feature-card figure {
      margin: 0 auto; }
    .scrolling-wrapper-flexbox .feature-card h5 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: .03em;
      margin: 15px auto; }
    .scrolling-wrapper-flexbox .feature-card p {
      font-size: 0.8rem; }
    .scrolling-wrapper-flexbox .feature-card .button {
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0px 0px 4px 4px;
      border: 0;
      border-top: 1px solid #f1f1f1;
      background: #fbfbfb; }
  .scrolling-wrapper-flexbox .padder-card {
    display: none;
    flex: 0 0 auto;
    border: 1px solid white;
    width: 50px;
    height: 350px; }

.MainHero {
  position: relative; }
  .MainHero h2, .MainHero p {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); }
  .MainHero h2 span {
    display: block;
    margin-bottom: 10px; }
  .MainHero #angles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-12deg);
    transform-origin: 0;
    position: absolute;
    box-shadow: inset 0 -10px 80px -10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(150deg, #FFC107 15%, #FF9800 50%, #F57C00 94%);
    }
  .MainHero .animals {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("https://d33wubrfki0l68.cloudfront.net/assets/images/b0fd0cf4bbc8fcfe961010531926730c2c642254/animals.png") no-repeat center center fixed;
    background-size: cover; }

.Mockups {
  z-index: 1;
  position: absolute;
  top: 0px;
  pointer-events: none;
  left: 50%;
  width: 829px;
  margin-left: -10px;
  transform: rotate(-12deg);
  transform-origin: 100% 0; }
  .Mockups #support {
    position: relative;
    width: 300px;
    z-index: 9;
    margin-left: 45%; }

.Projects .ProjectMenu a {
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Poppins', BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  height: 35px;
  line-height: 35px;
  font-weight: 500;
  letter-spacing: .03em;
  padding: 0 14px;
  color: #6772e5; }
  .Projects .ProjectMenu a:hover {
    background: none;
    color: #333; }
  .Projects .ProjectMenu a.is-active, .Projects .ProjectMenu a:hover .is-active {
    color: #FF9800;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 4px; }
  .Projects .ProjectMenu a img {
    display: inline;
    height: 25px;
    width: 25px;
    margin: 5px 10px 5px -5px;
    float: left;
    box-shadow: none !important;
    fill: #333;
    stroke: #333;
    color: #333; }

.Projects.Reader a.is-active {
  background: #209cee; }

.Projects .ProjectTabs a {
  font-family: 'Poppins', BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 35px;
  font-weight: 500; }

.Projects .ProjectTabs li.is-active a {
  font-weight: 700;
  color: #333;
  border-bottom-color: #333; }

.Projects .tab-content h5 {
  color: #55b04f;
  font-weight: 600; }

.Projects.Reader .tab-content h5 {
  color: #209cee; }

.Bundle .BundleCard {
  z-index: 9;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); }

.Contact {
  background: #f6f9fc;
  position: relative; }
  .Contact::before {
    content: '';
    position: relative;
    left: 0;
    width: 100%;
    top: 00px;
    height: 420px;
    background: #f6f9fc;
    transform: skew(0, -12deg);
    transform-origin: top left;
    z-index: 0; }

.Projects {
  background: #f6f9fc; }

.MainFooter {
  background: #f6f9fc; }

@media screen and (max-width: 768px) {
  .scrolling-wrapper-flexbox:after {
    display: none; }
  .scrolling-wrapper-flexbox .feature-card {
    width: 45%;
    height: 250px; }
  .scrolling-wrapper-flexbox .padder-card {
    display: inline-block; }
  .MainHero .hero-body {
    padding-bottom: 140px; }
  .Mockups {
    position: relative;
    width: 120%;
    left: 0;
    transform-origin: top;
    margin-top: -25%;
    margin-bottom: 30px; }
    .Mockups #support {
      display: none; } }

@media screen and (max-width: 540px) {
  .scrolling-wrapper-flexbox .feature-card {
    width: 90%;
    height: 250px; } }

.Writers .blurb, .Readers .blurb, .Education .blurb {
  padding: 60px 30px 0;
 }

 body>main>div.Bundle.hero>div.Education.section {
   margin-bottom: 7rem;
 }

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  position: absolute;
  top: 48%;
  left: 48%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FF9800;
  z-index: 999999;
}

.Download {
  background: #FF9800 url("https://d33wubrfki0l68.cloudfront.net/assets/images/b0fd0cf4bbc8fcfe961010531926730c2c642254/animals.png") no-repeat center center fixed;
}

.column .card {
  height: 100%
}
.feature-box{
  margin:4rem;
  align-self:center
}
.border-shadow{
  box-shadow:0 8px 33px 0 rgba(0,0,0,.07);
  border-radius:8px;
  background:#fff
}
.image-box{
  border:none;
  text-align:center;
  margin:auto
}
@media screen and (max-width:768px){
  .reverse-in-mobile{
      display:flex;
      flex-direction:column-reverse
  }
  .feature-box{
      margin:2rem;
      align-self:center
  }
  .footer-section,.shortcut-stats-group{
      display:flex;
      justify-content:center;
      align-items:center
  }
  .footer-section{
      flex-direction:column
  }
}
.single-feature {
  width: 100%;
  text-align: center;
  padding: 50px 30px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  margin-top: 30px;
  margin-bottom: 30px;
}


.single-feature:hover {
  -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}


.single-feature .feature-icon {
  height: 120px;
  width: 120px;
  text-align: center;
  margin: auto;
}

.single-feature .feature-icon img {
  width: auto;
  margin: auto;
}

.single-feature .title {
  font-size: 22px;
}

body > main > div.Bundle.hero > div.Education.section > div > div > div.owl-stage-outer > div > div.owl-item:nth-child(even) .single-feature {
  margin-top: 60px;
}

.round-button{
cursor:pointer;
padding:0 30px;
border-radius:100px;
background-clip:padding-box;
font-weight:400;
font-size:16px;
white-space:nowrap;
overflow:hidden;
text-transform:capitalize;
}

.download{
height: 57px;
width: 280px;
background-color: #fff;
background-repeat: no-repeat;
background-size: 40px 40px;
background-position: 30px;
padding-left: 80px;
color: #F57C00;
}

.android{background-image:url(/static/images/app/play-store.svg)}

.webapp{background-image:url(/static/images/app/webapp.svg)}

.button:hover { border-color: #b5b5b5; color: #FF9800; }

.primary-background{background-color:#507ce8;color:#fff}
