{# This macro is called on the user dashboards. In this case the administrator dashboard
   at the route admin.index
#}

{% macro render_menu_items(endpoints) %}
    {% for endpoint, name, icon in endpoints %}
        <a class="nav-item nav-link {% if request.endpoint == endpoint %}active{% endif %}" href="{{ url_for(endpoint) }}">{{ name | safe }}</a>
    {% endfor %}
{% endmacro %}

{# This is called for all users (including anonymous users). It renders the basic left side of the
   navigation bar. In the default case, the left hand side will read 'Flask-Base'. In the logged in
   admin case, there will also be an item that links to admin/ route. I have added an example use of
   render_menu_items.
#}

{% macro header_items(current_user) %}
    {% set endpoints = [] %}
    {% if current_user.is_authenticated %}
      {% set endpoints = [
        ('account.all_apps', 'API Dashboard', 'settings')
      ]%}
    {% endif %}

    {% set user = [] %}
    {% if current_user.is_authenticated %}
      {% set user = ([(current_user.role.index + '.index', current_user.role.name + ' Dashboard', 'user')]) %}
    {% endif %}
    {{ render_menu_items( endpoints +  user ) }}
{% endmacro %}

{# This renders the right hand side of the navigation bar. If the user is logged in, it links to
   manage their account and logout (account routes). Otherwise, it links to register and login.
#}
{% macro account_items(current_user) %}
    {% if current_user.is_authenticated %}
      {% set endpoints = [
        ('account.manage', 'Your Account', 'settings'),
        ('account.logout', 'Log out', 'sign out')
      ] %}
      {{ render_menu_items(endpoints) }}
    {% else %}
      {% set endpoints = [
        ('account.register', 'Register', 'list layout'),
        ('account.login', 'Log In', 'sign in')
      ] %}
      {{ render_menu_items(endpoints) }}
    {% endif %}
{% endmacro %}

{% macro create_dropdown(dropdown) %}
  {% for item in dropdown %}
    {% if item | length == 3 %}
      {{ render_menu_items([item]) }}
    {% elif item | length == 2 %}
      <div class="ui dropdown item" onClick="changeMenu(this)">{{ item[0] }} <i class="dropdown icon"></i>
        <div class="inverted black menu">
          {{ create_dropdown(item[1]) }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro render_nav(current_user, dropdown=[]) %}
    <nav class="navbar navbar-dark amber darken-2">
      <a class="navbar-brand center" href="/"><strong>{{ _('BHAGAVAD GITA') }}</strong></a>
      <button href="#" data-target="mobile-demo" class="navbar-toggler sidenav-trigger hide-on-large-only" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <ul class="sidenav sidenav-fixed" id="mobile-demo">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="/static/images/sankhya-yoga.jpg">
          </div>
          <a href="#user">
            <img class="circle" src="/static/images/radhakrishna.png">
          </a>
          {% if current_user.is_authenticated %}
            <a href="#name">
               {% if current_user.last_name %}
              <tr>
                <span class="white-text name">{{ '%s %s' % (current_user.first_name, current_user.last_name) }}</span>
              </tr>
              {% else %}
              <tr>
                <span class="white-text name">{{ '%s' % (current_user.first_name) }}</span>
              </tr>
              {% endif %}
            </a>
            <a href="#email">
              <span class="white-text email">{{ current_user.email }}</span>
            </a>
          {% endif %}
        </div>
      </li>
      <li class="search">
        <div class="search-wrapper">
          <form class="form-inline" method="get" action="/search">
            <input class="form-control w-100" type="text" name="query" id="query" placeholder="{{ _('Search') }}" aria-label="Search">
          </form>
        </div>
      </li>
      <li>
        <a class="nav-item nav-link waves-effect waves-light {% if request.endpoint == 'main.bhagavad_gita_quotes' %}active{% endif %}"
          href="/bhagavad-gita-quotes/">Quotes</a>
      </li>
      <li>
         {{ header_items(current_user) }} 
         {{ create_dropdown(dropdown) }}
      </li>
      <hr>
      <li>
         {{ account_items(current_user) }}
      </li>
    </ul>
{% endmacro %}
