{# This macro is called on the user dashboards. In this case the administrator dashboard
   at the route admin.index
#}

{% macro render_menu_items(endpoints) %}
    {% for endpoint, name, icon in endpoints %}
        <a class="nav-item nav-link {% if request.endpoint == endpoint %}active{% endif %}" href="{{ url_for(endpoint) }}">{{ name | safe }}</a>
    {% endfor %}
{% endmacro %}

{# This is called for all users (including anonymous users). It renders the basic left side of the
   navigation bar. In the default case, the left hand side will read 'Flask-Base'. In the logged in
   admin case, there will also be an item that links to admin/ route. I have added an example use of
   render_menu_items.
#}

{% macro header_items(current_user) %}
    {% set endpoints = [] %}
    {% if current_user.is_authenticated %}
      {% set endpoints = [
        ('account.all_apps', 'API Dashboard', 'settings')
      ]%}
    {% endif %}

    {% set user = [] %}
    {% if current_user.is_authenticated %}
      {% set user = ([(current_user.role.index + '.index', current_user.role.name + ' Dashboard', 'user')]) %}
    {% endif %}
    {{ render_menu_items( endpoints ) }}
{% endmacro %}

{# This renders the right hand side of the navigation bar. If the user is logged in, it links to
   manage their account and logout (account routes). Otherwise, it links to register and login.
#}
{% macro account_items(current_user) %}
    {% if current_user.is_authenticated %}
      {% set endpoints = [
        ('account.manage', 'Your Account', 'settings'),
        ('account.logout', 'Log out', 'sign out')
      ] %}
      {{ render_menu_items(endpoints) }}
    {% else %}
      {% set endpoints = [
        ('account.register', 'Register', 'list layout'),
        ('account.login', 'Log In', 'sign in')
      ] %}
      {{ render_menu_items(endpoints) }}
    {% endif %}
{% endmacro %}

{% macro create_dropdown(dropdown) %}
  {% for item in dropdown %}
    {% if item | length == 3 %}
      {{ render_menu_items([item]) }}
    {% elif item | length == 2 %}
      <div class="ui dropdown item" onClick="changeMenu(this)">{{ item[0] }} <i class="dropdown icon"></i>
        <div class="inverted black menu">
          {{ create_dropdown(item[1]) }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro render_nav(current_user, dropdown=[]) %}
    <nav class="navbar navbar-dark amber darken-2 fixed-top">
      <button href="#" data-target="mobile-demo" class="navbar-toggler sidenav-trigger hide-on-large-only" data-toggle="collapse"
        type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if request.path not in ['/api/', '/contact/', '/privacy-policy/', '/terms-of-service/', '/about/', '/bhagavad-gita-quotes/', '/favourite-shlokas/', '/progress/', '/account/register', '/account/login', '/account/manage/info', '/account/manage/apps', '/account/reset-password', '/account/manage/change-email', '/account/manage/change-password', '/account/manage/apps/new', '/reading-plans/', '/verse-of-the-day/', '/badges/'] %}
        <a class="navbar-brand center mx-auto" href="/"><strong>{{ _('BHAGAVAD GITA') }}</strong></a>
      {% else %}
        <a class="navbar-brand center mx-auto" href="/" style="padding-right: 2rem;"><strong>{{ _('BHAGAVAD GITA') }}</strong></a>
      {% endif %}
      {% if request.path not in ['/api/', '/contact/', '/privacy-policy/', '/terms-of-service/', '/about/', '/bhagavad-gita-quotes/', '/favourite-shlokas/', '/progress/', '/reading-plans/', '/account/register', '/account/login', '/account/manage/info', '/account/manage/apps', '/account/reset-password', '/account/manage/change-email', '/account/manage/change-password', '/account/manage/apps/new', '/verse-of-the-day/', '/badges/'] %}
      <div class="btn-group">
        <a class="btn-rounded navbar-toggler waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" id="android">
          <i class="material-icons">more_vert</i>
        </a>
        <div class="dropdown-menu" id="gita">
          <a class="dropdown-item waves-effect waves-light" data-toggle="modal" data-target="#radhakrishna">{{ _('Choose Language') }}</a>
          <a class="dropdown-item waves-effect waves-light" data-toggle="modal" data-target="#hanuman">{{ _('Settings') }}</a>
        </div>
      </div>
      {% endif %}
    </nav>

    <ul class="sidenav sidenav-fixed" id="mobile-demo">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="/static/images/shriradhakrishna.jpg">
          </div>
          <a href="/">
            <img class="circle" src="/static/images/radhakrishna.png">
          </a>
        </div>
      </li>
      <li class="search">
        <div class="search-wrapper">
          <form class="form-inline" method="get" action="/search">
            <input class="form-control w-100" type="text" name="query" id="query" placeholder="{{ _('Search') }}" aria-label="Search">
          </form>
        </div>
      </li>
      <li>
        <a class="nav-item nav-link waves-effect waves-light {% if request.endpoint == 'main.index' %}active{% endif %}"
          href="/">{{ _('Home') }}</a>
      </li>

      <li>
        <a class="nav-item nav-link waves-effect waves-light {% if request.endpoint == 'main.about' %}active{% endif %}"
          href="/about/">{{ _('About') }}</a>
      </li>

      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">{{ _('Chapters') }}
            </a>
            <div class="collapsible-body">
              <ul>
                {% for i in range(1, 19) %}
                <li>
                  <a class="nav-item nav-link waves-effect waves-light" href="/chapter/{{i}}/?page=1">{{ _('Chapter') }} {{i}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <a class="nav-item nav-link waves-effect waves-light {% if request.endpoint == 'main.favourite_shlokas' %}active{% endif %}"
          href="/favourite-shlokas/">{{ _('Favourite Shlokas') }}</a>
      </li>
      <li>
        <a class="nav-item nav-link waves-effect waves-light {% if request.endpoint == 'main.reading_plans' %}active{% endif %}"
          href="/reading-plans/">{{ _('Reading Plans') }}</a>
      </li>
      <li>
        <a class="nav-item nav-link waves-effect waves-light {% if request.endpoint == 'main.progress' %}active{% endif %}"
          href="/progress/">{{ _('Progress') }}</a>
      </li>
      <li>
        <a class="nav-item nav-link waves-effect waves-light {% if request.endpoint == 'main.bhagavad_gita_quotes' %}active{% endif %}"
          href="/bhagavad-gita-quotes/">{{ _('Quotes') }}</a>
      </li>
      <li>
        <a class="nav-item nav-link waves-effect waves-light {% if request.endpoint == 'main.verse_of_the_day' %}active{% endif %}"
          href="/verse-of-the-day/">{{ _('Verse of the day') }}</a>
      </li>
      {% if current_user.is_authenticated %}
      <li>
        <a class="nav-item nav-link waves-effect waves-light {% if request.endpoint == 'main.badges' %}active{% endif %}"
          href="/badges/">{{ _('Badges') }}</a>
      </li>
      {% endif %}
      <hr>
      <li>
        {{ account_items(current_user) }}
      </li>

      <li>
         {{ header_items(current_user) }}
         {{ create_dropdown(dropdown) }}
      </li>

      {% if request.path not in ['/api/', '/contact/', '/privacy-policy/', '/terms-of-service/', '/about/', '/bhagavad-gita-quotes/', '/favourite-shlokas/', '/progress/', '/reading-plans/', '/account/register', '/account/login', '/account/manage/info', '/account/manage/apps', '/account/reset-password', '/account/manage/change-email', '/account/manage/change-password', '/account/manage/apps/new', '/verse-of-the-day/', '/badges/'] %}
      <li>
        <a class="dropdown-item waves-effect waves-light" data-toggle="modal" data-target="#radhakrishna">{{ _('Choose Language') }}</a>
      </li>
      <li>
        <a class="dropdown-item waves-effect waves-light" data-toggle="modal" data-target="#hanuman">{{ _('Settings') }}</a>
      </li>
      {% endif %}

      <hr>
      <li>
        <a class="nav-item nav-link waves-effect waves-light" href="https://hanumanchalisa.net">{{ _('Hanuman Chalisa') }}</a>
      </li>
      <li>
        <a class="nav-item nav-link waves-effect waves-light"
          href="https://shriradhakrishna.com">{{ _('Shri Radha Krishna') }}</a>
      </li>
      <li>
        <a class="nav-item nav-link waves-effect waves-light {% if request.endpoint == 'main.contact' %}active{% endif %}"
          href="/contact/">{{ _('Contact Us') }}</a>
      </li>
      <li>
        <a class="nav-item nav-link waves-effect waves-light {% if request.endpoint == 'main.privacy_policy' %}active{% endif %}"
          href="/privacy-policy/">{{ _('Privacy Policy') }}</a>
      </li>
      <li>
        <div class="social-section mt-2 ">
          <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/iiradhakrishnaii/" style="margin-left: 2rem;">
            <span class="fa fa-facebook"></span>
          </a>
          <a class="btn btn-social-icon btn-youtube" href="https://www.youtube.com/c/krsna">
            <span class="fa fa-youtube"></span>
          </a>
          <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/iiradhakrishnaii/">
            <span class="fa fa-instagram"></span>
          </a>
          <a class="btn btn-social-icon btn-github" href="https://github.com/gita">
            <span class="fa fa-github"></span>
          </a>
        </div>
      </li>
    </ul>
{% endmacro %}
