{% macro render_flashes(class) %}
    {% with msgs = get_flashed_messages(category_filter=[class]) %}
        {% for msg in msgs %}
            <div class="alert alert-{{ class }} alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endwith %}
{% endmacro %}

<div class="container">
    {{ render_flashes('error') }}
    {{ render_flashes('warning') }}
    {{ render_flashes('info') }}
    {{ render_flashes('success') }}
</div>
