
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fd9f28">
        <meta name="msapplication-TileColor" content="#fd9f28">
        <meta name="theme-color" content="#ffffff">

        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        <script>
          var OneSignal = window.OneSignal || [];
          OneSignal.push(function() {
            OneSignal.init({
              appId: "2713183b-9bcc-418c-a4a6-79f84fc40f2c",
            });
          });
        </script>

        {% assets 'app_css' %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">{% endassets %}
        <!-- {% assets 'vendor_css' %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">{% endassets %} -->

        {% assets 'vendor_css' %}
          <link rel='preload' href='{{ ASSET_URL }}' as='style' onload="this.onload=null;this.rel='stylesheet'">
          <noscript><link rel="stylesheet" href="{{ ASSET_URL }}"></noscript>
        {% endassets %}
        <script>
        /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
        /* This file is meant as a standalone workflow for
        - testing support for link[rel=preload]
        - enabling async CSS loading in browsers that do not support rel=preload
        - applying rel preload css once loaded, whether supported or not.
        */
        (function( w ){
          "use strict";
          // rel=preload support test
          if( !w.loadCSS ){
            w.loadCSS = function(){};
          }
          // define on the loadCSS obj
          var rp = loadCSS.relpreload = {};
          // rel=preload feature support test
          // runs once and returns a function for compat purposes
          rp.support = (function(){
            var ret;
            try {
              ret = w.document.createElement( "link" ).relList.supports( "preload" );
            } catch (e) {
              ret = false;
            }
            return function(){
              return ret;
            };
          })();

          // if preload isn't supported, get an asynchronous load by using a non-matching media attribute
          // then change that media back to its intended value on load
          rp.bindMediaToggle = function( link ){
            // remember existing media attr for ultimate state, or default to 'all'
            var finalMedia = link.media || "all";

            function enableStylesheet(){
              // unbind listeners
              if( link.addEventListener ){
                link.removeEventListener( "load", enableStylesheet );
              } else if( link.attachEvent ){
                link.detachEvent( "onload", enableStylesheet );
              }
              link.setAttribute( "onload", null ); 
              link.media = finalMedia;
            }

            // bind load handlers to enable media
            if( link.addEventListener ){
              link.addEventListener( "load", enableStylesheet );
            } else if( link.attachEvent ){
              link.attachEvent( "onload", enableStylesheet );
            }

            // Set rel and non-applicable media type to start an async request
            // note: timeout allows this to happen async to let rendering continue in IE
            setTimeout(function(){
              link.rel = "stylesheet";
              link.media = "only x";
            });
            // also enable media after 3 seconds,
            // which will catch very old browsers (android 2.x, old firefox) that don't support onload on link
            setTimeout( enableStylesheet, 3000 );
          };

          // loop through link elements in DOM
          rp.poly = function(){
            // double check this to prevent external calls from running
            if( rp.support() ){
              return;
            }
            var links = w.document.getElementsByTagName( "link" );
            for( var i = 0; i < links.length; i++ ){
              var link = links[ i ];
              // qualify links to those with rel=preload and as=style attrs
              if( link.rel === "preload" && link.getAttribute( "as" ) === "style" && !link.getAttribute( "data-loadcss" ) ){
                // prevent rerunning on link
                link.setAttribute( "data-loadcss", true );
                // bind listeners to toggle media back
                rp.bindMediaToggle( link );
              }
            }
          };

          // if unsupported, run the polyfill
          if( !rp.support() ){
            // run once at least
            rp.poly();

            // rerun poly on an interval until onload
            var run = w.setInterval( rp.poly, 500 );
            if( w.addEventListener ){
              w.addEventListener( "load", function(){
                rp.poly();
                w.clearInterval( run );
              } );
            } else if( w.attachEvent ){
              w.attachEvent( "onload", function(){
                rp.poly();
                w.clearInterval( run );
              } );
            }
          }


          // commonjs
          if( typeof exports !== "undefined" ){
            exports.loadCSS = loadCSS;
          }
          else {
            w.loadCSS = loadCSS;
          }
        }( typeof global !== "undefined" ? global : this ) );
        </script>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% assets 'app_js' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
        <script type="text/javascript" src="/static/scripts/scripts/materialize.min.js"></script>
        <script type="text/javascript" src="/static/scripts/scripts/popper.min.js"></script>
        <script type="text/javascript" src="/static/scripts/scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/scripts/scripts/clipboard.min.js"></script>
        <script type="text/javascript" src="/static/scripts/scripts/axios.min.js"></script>
        {% assets 'vendor_js' %}<script defer type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
        
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-M78ZKH3');</script>
        <!-- End Google Tag Manager -->
